[2018-12-03 15:26] jam01 opened #1 "Compilation error - Java 9 API used?"
Since we've not yet had a release I tried a `mvn clean install`, got the following:

[code]

[2018-12-04 17:12] SevaSafris commented on #1
@jam01, thank you for filing this issue. I have retrofitted the SpecialAgent code to build on jdk1.8, 9, and 10. Please confirm!

[2018-12-05 16:06] #1 closed, assigned to nobody

[2019-02-13 18:42] etsangsplk opened #17 "question. How does this work with springfranework?"
can you give examples? i am particularly insterested in how it can automatically trace request processd by conteollers

[2019-02-14 12:52] SevaSafris commented on #17
Hi @etsangsplk, the SpecialAgent does not currently support any springframework instrumentation modules. For a list of currently supported modules, please look [here](https://github.com/opentracing-contrib/java-specialagent/#supported-instrumentation-plugins).

[2019-02-14 12:52] #17 closed

[2019-04-04 06:28] deepakgoenka opened #38 "No dependencies.tfg registered for rule"
Hi,

I am trying to add a new rule to opentracing's special agent. let us call it opentracing-specialagent-is.
I have created a new class which implements AgentRule and prepared the opentracing-specialagent-1.0.1.jar and i have verified that my rule plugin is present inside META-INF/opentracing-specialagent.

My AgentRule class is very simple where i am trying to intercept entry to one of my metho

[2019-04-04 13:29] SevaSafris commented on #38
Have you followed all of the requirements in the opentracing-specialagent-api? Specifically [this one](https://github.com/opentracing-contrib/java-specialagent/tree/master/opentracing-specialagent-api#packaging), which involves agentrule-maven-plugin.

[2019-04-05 00:27] deepakgoenka commented on #38
Thanks, i had commented the fingerprint and tree sections in pom and uncommenting them generates the fingerprint and dependencies.tfg files.

However i have other class loading issues in my application (while using the open tracing agent) which i am looking into now.

[2019-04-05 00:27] #38 closed

[2019-04-23 11:51] pmaciolek opened #51 "Classloading problems on Tomcat 8.5.40"
Seems that recent updates have broken something and currently Tomcat fails to start with specialagent. Steps to reproduce:

[code]

[code]

[2019-04-23 11:52] pmaciolek commented on #51
[catalina-FINEST.log.zip](https://github.com/opentracing-contrib/java-specialagent/files/3107346/catalina-FINEST.log.zip)
Full logs captured o my local box

[2019-04-24 15:45] ledor473 opened #54 "webservletfilter causes a UnsupportedOperationException"
I'm trying to use the Agent compiled from master (2e5419b89756fb0c3df276f2a22184175c27d970) using the following command:
[code]

But when I add it to a Spring Boot application, it prevents the application from starting and error with the following:
[code]

Obviously, I can't share the whole application, but here are some of the related Spring dependancies:
[code]

[2019-04-24 15:49] ledor473 commented on #54
Also, the application is able to boot if I provide the following:
[code]

[2019-04-24 15:53] malafeev commented on #51
my first guess is that Spring Boot version you are using is not supported.
could you try 2+ version?

[2019-04-24 16:50] SevaSafris commented on #51
@malafeev, how would a version of Spring Boot be "not supported"?

[2019-04-24 16:54] pmaciolek commented on #51
If that helps, I did use the plain Tomcat version with no additional apps installed

[2019-04-24 16:55] SevaSafris commented on #54
Hi @ledor473, I have added a catch block for `UnsupportedOperationException`. It is checked in and deployed to 1.1.1-SNAPSHOT. You can get the SpecialAgent JAR via:
[code]

[2019-04-24 16:58] ledor473 commented on #54
@SevaSafris if I understand correctly, it still won't add the filter but it won't crash on boot neither. Right?

[2019-04-24 18:06] pmaciolek commented on #54
@ledor473 @SevaSafris this fixed this problem (merged 5 days ago): https://github.com/opentracing-contrib/java-specialagent/commit/0a9a9d7757f7c023bf1ef1888f8a6609a4d27ffb

[2019-04-24 19:57] ledor473 commented on #54
@pmaciolek thanks!
I've just confirmed that it's working as expected with the 1.1.0 release 🎉

[2019-04-24 19:57] #54 closed

[2019-04-24 20:41] ledor473 opened #56 "ClassNotFoundException on Elasticsearch6RestAgentRule"
Using SpecialAgent version 1.1.0, I get the following exception that prevents the application from booting:
[code]

[2019-04-25 02:55] malafeev commented on #51
please ignore my comment, I supposed to comment another issue

[2019-04-25 08:21] SevaSafris commented on #56
Hi @ledor473, can you provide any insight into your use-case so that I can reproduce this error?

[2019-04-25 08:24] SevaSafris commented on #51
Hi @pmaciolek, can you try the latest version of SpecialAgent? I have added a potential fix -- it is a stab in the dark, as I do not know your use-case. Nonetheless, I have a hunch it is related to the context of what I changed in 1.1.1-SNAPSHOT. You can get the SpecialAgent JAR via:

[code]

[2019-04-25 14:10] ledor473 commented on #56
@SevaSafris I was able to reproduce that problem with the following steps (#1 is obviously not required if you already have a Spring project)
1. Create an application here: https://start.spring.io/
  - I choose `Java`, `Maven`, `Spring Boot 2.2.0.M2` and no extra deps
2. Add the following dependancies:
[code]
3. Add the following class:
[code]

Now if you run that application with the Java Agent y

[2019-04-25 14:40] ledor473 commented on #56
I get similar result with this:
[code]

[2019-04-25 14:50] pmaciolek commented on #51
@SevaSafris thank you for investigating this. I used the `jar` you suggested and now get this:

[code]

I tried to compile the most recent version from `master` too but the effect was the same as before.

My tomcat version is plain vanilla, to reproduce it I am just downloading the ZIP file with Tomcat and run it without any extra apps installed. It fails on the default config. I am using macOS fl

[2019-04-25 15:56] pmaciolek commented on #51
@SevaSafris I was going through the commit history and doing a bisect search essentially. This one broken things for Tomcat: https://github.com/opentracing-contrib/java-specialagent/commit/bedcc0c57a0b8d7dbf8b0b7bdbbde0ccaedc094b

[2019-04-26 04:06] malafeev commented on #56
@SevaSafris I reproduced the issue: https://github.com/malafeev/sa-apps/tree/master/spring-boot-elasticsearch

[2019-04-26 15:13] SevaSafris commented on #51
Hi @pmaciolek, thanks for your attention on this. Do you have any idea why [TomcatServletTest](https://github.com/opentracing-contrib/java-specialagent/blob/0a9a9d7757f7c023bf1ef1888f8a6609a4d27ffb/rules/opentracing-specialagent-web-servlet-filter/src/test/java/io/opentracing/contrib/specialagent/webservletfilter/TomcatServletTest.java) works without the problem you're seeing in the plain vanilla

[2019-04-30 15:32] SevaSafris commented on #51
Hi @pmaciolek, I created a test application with vanilla Tomcat. The application threw an error, but it was not the `NoClassDefFoundError ` error you mentioned in this issue. Nonetheless, the error I produced also needed to be fixed. I have pushed a fix for the error produced in my test application, and it is now available in 1.1.1-SNAPSHOT. Would you be able to run your test case against this new

[2019-04-30 16:13] pmaciolek commented on #51
Thank you very much @SevaSafris I just rebuilt the project and Tomcat started just fine using the most recent agent version. I will continue testing but it seems that it works perfectly now. I believe it's OK to close the issue now?

[2019-04-30 16:13] SevaSafris commented on #56
Hi @ledor473, I used the test app that @malafeev made to diagnose this issue. I have pushed a fix for the error produced in the test application, and it is now available in 1.1.1-SNAPSHOT. Would you be able to run your test case against this newest snapshot? Please let me know!

[2019-04-30 16:15] SevaSafris commented on #51
That's great to hear! Let me know if you run into any other issues. Closing this now.

[2019-04-30 16:15] #51 closed

[2019-04-30 19:00] ledor473 commented on #56
@SevaSafris so I pulled the latest using this URL from the README:
https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=io.opentracing.contrib.specialagent&a=opentracing-specialagent&v=LATEST
Which gave me `opentracing-specialagent-1.1.1-20190430.153439-21.jar`

But when I ran the application with that Java Agent I get:
[code]

It feels like a packaging issue, so I went ahe

[2019-04-30 19:31] ledor473 opened #61 "NPE in Apache HttpClient instrumentation"
As I was testing the fix for #56, I found this one:

[code]

I've attached the debugger and it seems that the NPE comes from `context.span` on this line: https://github.com/opentracing-contrib/java-specialagent/blob/ac23f4f861d79a4ed550b6a33572b4cdab8457ef/rules/opentracing-specialagent-apache-httpclient/src/main/java/io/opentracing/contrib/specialagent/httpclient/HttpClientAgentIntercept.java#L89

[2019-04-30 19:56] ledor473 commented on #61
I've updated the stacktrace to show a bit more.

Also, here is the interesting part of the `truncated.EsQueryExecutor`'s `execute` method:
[code]

As you can see it's annotated to be retried by `spring-retry`. The `retryInterceptor` above is configured as follow:
[code]

[2019-05-01 09:32] malafeev commented on #61
@ledor473 I cannot reproduce the issue.
Could you share your application?

[2019-05-01 11:17] SevaSafris commented on #56
Hi @ledor473, yes please file a new issue for the packaging bug you encountered. I really don't know what could be causing this, and I made sure to check the [snapshot repository](https://oss.sonatype.org/content/repositories/snapshots/io/opentracing/contrib/specialagent/opentracing-specialagent/1.1.1-SNAPSHOT/) directly to make sure you got the correct version, which you did. So, it should have w

[2019-05-01 11:17] #56 closed

[2019-05-01 16:21] ledor473 commented on #61
@malafeev I can't share the application but I've sent you a way to reproduce the issue: https://github.com/malafeev/sa-apps/pull/2

[2019-05-02 02:20] malafeev commented on #61
thanks @ledor473
I will try

[2019-05-02 13:10] kaushikdeb commented on #56
Could someone please explain what assembly fix did make it work for you?
I am getting a java.lang.ClassNotFoundException: io.opentracing.contrib.specialagent.webservletfilter.JettyAgentRule as well and am not sure how to fix it.
Before this exception I was getting: java.lang.NoClassDefFoundError: io/opentracing/contrib/specialagent/BootLoaderAgent$FindBootstrapResources. Renaming the -LATEST.jr to

[2019-05-02 14:23] SevaSafris commented on #56
@kaushikdeb, thank you for your comment. You may have actually helped me figure out exactly why this error is happening. Can you rename your JAR to: `opentracing-specialagent-1.1.1-SNAPSHOT.jar` and try again? Please let me know your results!

[2019-05-02 15:07] ledor473 commented on #56
@SevaSafris seems like yoy found the fix! The same Agent I downloaded a few days ago is working if I rename it to `opentracing-specialagent-1.1.1-SNAPSHOT.jar` 👍

[2019-05-02 15:11] ledor473 opened #63 "Instruction to download the latest snapshot are not working"
As per the findings in #56, the README to download the latest SNAPSHOT of the Agent is incorrect.

Using the provided command you would get: `opentracing-specialagent-LATEST-SNAPSHOT.jar`
Or if you click on the link you would get something like: `opentracing-specialagent-1.1.1-20190430.153439-21.jar`
But it only work if you rename it to `opentracing-specialagent-1.1.1-SNAPSHOT.jar`

I wonder if th

[2019-05-02 18:34] kaushikdeb commented on #56
After renaming, it does move pass the previous issue. Now it goes ahead to the next NoClassDefFoundError. Does it have anything to do with the Jetty version that my app is using?

    java.lang.NoClassDefFoundError: org/eclipse/jetty/http/HttpMethod

Any ideas?

[2019-05-02 18:36] kaushikdeb commented on #63
The MANIFEST.MF file in the generated jar file has this:
Boot-Class-Path: opentracing-specialagent-1.1.1-SNAPSHOT.jar

It does not reflect the LATEST-SNAPSHOT or the other version with date.

[2019-05-02 19:09] ledor473 commented on #56
@kaushikdeb I think this is a different bug. It would be ideal to create a new issue with the full stacktrace and some information about your project (deps version, etc.)

[2019-05-03 07:22] malafeev commented on #61
I run it, but still don't see any NPE

[2019-05-03 10:52] ledor473 commented on #61
@malafeev have you hit the /test endpoint with curl?

[2019-05-03 13:03] malafeev commented on #61
yes

[2019-05-03 14:47] SevaSafris commented on #56
@kaushikdeb, please create a new issue for the `NoClassDefFoundError`, and provide as much information as possible for debugging.

[2019-05-03 14:56] SevaSafris commented on #63
@kaushikdeb, this is correct, and this is the reason for the error. The `Boot-Class-Path` property is set in the [pom.xml](https://github.com/opentracing-contrib/java-specialagent/blob/master/opentracing-specialagent/pom.xml#L418). I have corrected the installation instructions. Thank you both for helping with this issue.

[2019-05-03 14:56] #63 closed

[2019-05-03 15:20] ledor473 commented on #61
@malafeev I'm not sure why, but I can't reproduce it with the `make run` command, but I'm able to reproduce it if I start it with the following command:
[code]

After that, `curl localhost:8080/test` will log the following:
[code]

I feel the `make run` does not include enough libraries in the classpath, but I could be wrong.

[2019-05-03 18:39] mtrejo commented on #56
@SevaSafris do you have the link to the commit? I'm having a similar issue with a rule I'm creating.

[2019-05-03 21:54] mtrejo opened #64 "jaeger-client-bundle not compatible with opentracing version"
Using opentracing-specialagent-1.1.1, I started to see this error:
[code]
After some investigation I found the jaeger-client version being used 0.33.1 is not compatible with opentracing-api version 0.32.0

[2019-05-04 20:13] SevaSafris commented on #56
@mtrejo, the PR that I was referring to is [this one](https://github.com/opentracing-contrib/java-specialagent/commit/5ec30bd920ed0750305ff49db3e7dda5cae4bd59). However, I'm not sure it will help you to look at the diff to understand anything from it. What "similar issue" are you referring to, specifically?

[2019-05-06 13:24] malafeev commented on #61
@ledor473 I tried your command, but still works for me.
but I use opentracing-specialagent-1.1.2-SNAPSHOT.jar

[2019-05-06 13:53] ledor473 commented on #61
@malafeev I don't know, I'm still able to reproduce every time I run it locally even with 1.1.2-SNAPSHOT.

Hre's the new stacktrace for 1.12 (see that the new line in `HttpClientAgentIntercept.java` is `103` now:
[code]

[2019-05-06 13:56] ledor473 commented on #61
@malafeev while the stack trace is very similar between 1.1.1-SNAPHOT and 1.1.2-SNAPSHOT, with 1.1.2-SNAPSHOT the above strack is followed by these 2:
[code]

It seems to be coming from `io.opentracing.contrib.specialagent.spring.webmvc.copied.TracingHandlerInterceptor` so maybe I should file a different bug?

[2019-05-06 14:15] malafeev commented on #61
@ledor473 I see that's problem similar to https://github.com/opentracing-contrib/java-specialagent/issues/64
let's wait for the fix of #64

[2019-05-06 23:23] mtrejo commented on #56
Thanks @SevaSafris, all I needed was use version 1.1.1, the issue is gone now. I was using version 1.1.0.

[2019-05-07 21:53] SevaSafris commented on #64
@mtrejo, the Jaeger Tracer has been updated in SpecialAgent to support OT API 0.32.0. Can you try your use-case with the latest 1.1.1-SNAPSHOT?

[code]

[2019-05-08 04:40] malafeev commented on #61
@ledor473 please try latest 1.1.2-SNAPSHOT, it should have fix for jaeger

[2019-05-08 14:41] ledor473 commented on #64
@SevaSafris I've just tried with the latest published version and still see the issue.

I think the problem now is that there's no new version published, here's the output of the above command (look at the end of `Location:`) which seems to indicate the most recent build is from 2019-05-05 (3 days ago).
[code]

[2019-05-09 15:54] SevaSafris commented on #64
@ledor473, the wget command you posted works correctly for me. Can you try again? Perhaps it was an intermittent issue.

[2019-05-09 18:39] ledor473 commented on #64
@SevaSafris it works now!
I was getting this file last time:
[code]
But now I see this which is more recent:
[code]

Also, I don't get a `AbstractMethodError` exception anymore 👍

[2019-05-09 18:40] ledor473 commented on #61
@malafeev it seems to be fixed in this version `opentracing-specialagent-1.1.2-20190509.163504-5.jar`

Thanks!

[2019-05-09 18:40] #61 closed

[2019-05-09 19:06] SevaSafris commented on #64
Great! I'm closing this issue. 👍

[2019-05-09 19:06] #64 closed

[2019-05-10 04:09] austinlparker opened #69 "README Cleanup?"
Would it be possible to re-organize the README? It's a bit sprawling. I'd think something like -

[code]

This is just a suggestion to make it more friendly for first-time users. :)

[2019-05-10 20:19] SevaSafris commented on #69
Great suggestion @austinlparker. I'll make this a priority for next week!

[2019-05-13 15:13] SevaSafris commented on #69
@austinlparker, I've revised the README. Would love your feedback!

[2019-05-13 16:06] austinlparker commented on #69
Looks fantastic, thanks!

[2019-05-13 16:06] #69 closed

[2019-06-07 00:06] boostchicken opened #86 "DynamoDB Calls now fail with bad headers using LightStep"
message: "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details. (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: InvalidSignatureException; Request ID: JLE25C7RCQKSIOBUF0IQP29EU3VV4KQNSO5AEMVJF66Q9ASUAAJG)"

[2019-06-07 04:48] boostchicken opened #87 "Apache HttpClient Instrumention defaults to 80 more often than not"
https://github.com/opentracing-contrib/java-specialagent/blob/003c538908342ed0af9a0dc256fc5f44b799bc8c/rules/specialagent-apache-httpclient/src/main/java/io/opentracing/contrib/specialagent/httpclient/HttpClientAgentIntercept.java#L56-L71

Almost unreal I have to write this, go look at how you are dealing with ports............  Let's just default everything to 80!

[2019-06-07 04:49] boostchicken commented on #86
#87

[2019-06-07 04:59] malafeev commented on #87
we set span tag `Tags.PEER_PORT` to `uri.getPort() == -1 ? 80 : uri.getPort()`
what's wrong with that?

[2019-06-07 05:02] malafeev commented on #86
#87 is not a bug

[2019-06-07 05:15] boostchicken commented on #86
100% is a bug, not only is the span supporting the wrong the port, but it is also causing the headers to be miss signed to their abuse of them.

[2019-06-07 05:16] malafeev commented on #86
Problem that in httpclient rule we modify request headers by injecting new span context.
But we should avoid that because request headers already contain injected span context.
It was injected by aws request handler.
Looks like we break calculated checkum of the request.

[2019-06-07 05:17] boostchicken commented on #86
You can add arbitrary headers in the v4 signature, just not like they are doing, and certainly not just assuming since a port isn't in the URI it's 80

[2019-06-07 05:17] malafeev commented on #86
we don't modify port

[2019-06-07 05:19] boostchicken commented on #86
If you spin that up right now and make a dynamodb call with that apache module on it will tell you it is over port 80 even though it is https. I bet you my bottom dollar.

https://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html

Easy peasy to go ahead and sign whatever headers you want in v4

[2019-06-07 05:21] malafeev commented on #86
span tag is incorrect for https. but it doesn't change the behavior of request. you can set any value.

[2019-06-07 05:24] boostchicken commented on #86
Also, just go look at the code I highlighted.  It does not check schema one bit to determine if a port is not 80.  It just assumes if you don't have a port, it's 80.  That isn't the real crux of the problem, but it is extremely disheartening to see that I can't have httpclient and the aws-sdk instrumented?  It would be very easy to write some logic there to regenerate the canonical header after yo

[2019-06-07 05:25] boostchicken commented on #86
Right, but your header injector does, which is why you have to regenerate a canonical request and re-sign it in the event that it is from the aws-sdk.

[2019-06-07 05:30] boostchicken opened #88 "Redis Instrumentation is over reaching, PubSub was not accounted for in Lettuce"
Not all Redis Async commands have API compatibility.  Specifically PubSub

`2019-06-07 00:44:00.724 ERROR 20380 --- [enerContainer-1] o.s.d.r.l.RedisMessageListenerContainer  : SubscriptionTask aborted with exception:

org.springframework.data.redis.RedisSystemException: Unknown redis exception; nested exception is java.lang.ClassCastException: class io.opentracing.contrib.redis.lettuce.TracingRed

[2019-06-07 05:31] malafeev commented on #86
this issue should be reopened.
Because if we fix #87 by setting 443 span tag for https it will not fix this problem.

[2019-06-07 05:33] boostchicken commented on #86
Correct, but that issue needs to be fixed as well.

[2019-06-07 05:35] boostchicken commented on #87
As stated in the other thread, even if the scheme is HTTPS the span will result in 80.

[2019-06-07 05:35] malafeev commented on #87
OK, so issue that in case of https `Tags.PEER_PORT` should be set to `443`.
After bunch of comments now I see what you mean. Let's save time of each other next time by providing clear problem description.

[2019-06-12 09:12] khiradeshubham commented on #56
Hello, I am also getting a similar error when I'm dynamically Attaching _specialagent_ to my application

here is what I got in application logs

        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:4

[2019-06-12 09:19] malafeev commented on #56
@khiradeshubham I think it's better to track in separate issue. Please provide also java version, like output from `java -version` and sample application if possible.

[2019-06-13 04:17] khiradeshubham opened #99 "Error when dynamically attaching specialagent jar- Java 8"
Hello, I am getting the following error when I'm dynamically Attaching _specialagent_ to my application

here is what I got in application logs

[code]
and this with dynamic attachment,

[code]

Java
`java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)`

My application is a Guice+undertow

[2019-06-13 04:18] khiradeshubham commented on #56
@malafeev created one https://github.com/opentracing-contrib/java-specialagent/issues/99
thanks

[2019-06-13 15:49] ledor473 commented on #99
@khiradeshubham can you provide the full command you used to add the agent? Ideally, include the full name of the `.jar` you've used.

[2019-06-13 23:59] khiradeshubham commented on #99
Hello @ledor473 ,
I tried
`java -Xbootclasspath/a:/Library/Java/JavaVirtualMachines/jdk1.8.0_181.jdk/Contents/Home/lib/tools.jar -jar opentracing-specialagent-1.2.0.jar <pid>`
and renamed version as well
`java -Xbootclasspath/a:/Library/Java/JavaVirtualMachines/jdk1.8.0_181.jdk/Contents/Home/lib/tools.jar -jar opentracing-specialagent-1.2.0-SNAPSHOT.jar <pid>`
but same result.
Thanks

[2019-06-18 01:54] yurishkuro opened #102 "Instrumenting ForkJoinPool"
Are there plans for monkey-patching ForkJoinPool's common pool? Without that stream APIs don't propagate the context, unless a custom executor is used which leads to much uglier code (and is easy to forget).

[2019-06-18 12:24] SevaSafris commented on #99
Hi @khiradeshubham, I created a test app running OkHttp in a loop. I was able to attach to to the test app's PID with SpecialAgent via dynamic attach. If you could provide more information regarding your use-case, it would be very helpful to determine what's happening.

[2019-06-19 09:01] khiradeshubham commented on #99
Hello @SevaSafris, I'm using Gradle wrapper to start my application `gradlew run`, did not add anything specific to open tracing in source code and just attaching the SpecialAgent to that application process. Can you share your test application for reference?

[2019-06-19 11:44] SevaSafris commented on #99
@khiradeshubham, here is the code I used for my test:

[code]

The required dependencies for this test come from `rules/specialagent-okhttp/pom.xml`:

[code]

[2019-06-25 08:29] Vovan2006 opened #103 "Question. Trying to attach in a dynamic way, but it does not work"
Hello guys,
I am trying to attach to my app which works in a docker container, but it does not work for me.
I use a recent version(1.3.1) of a special agent. Here is a command which I enter in cmd:
java -Xbootclasspath/a:$JAVA_HOME/lib/tools.jar -Dsa.tracer=jaeger -Dsa.log.level=FINEST -DJAEGER_AGENT_HOST=http://127.0.0.1 -DJAEGER_AGENT_PORT=5775 -DJAEGER_REPORTER_LOG_SPANS=true -DJAEGER_SAMPLER_T

[2019-06-25 11:38] SevaSafris commented on #103
Hi @Vovan2006, I hope I can help you move forward with SpecialAgent.

The command you provide seems like you're using the dynamic attach method of attaching to a target java process, but it's missing the `PID` at the end. Did you omit this intentionally? Regardless, given the fact that you see log output from SpecialAgent, I believe you're attaching to the target process correctly.

For which spec

[2019-06-25 13:36] Vovan2006 commented on #103
Hi @SevaSafris,
thanks for so fast response !
You are absolutely right I have been using the dynamic attach method of attaching to a target java process.
Regarding the PID I have already fixed my previous comment and added it to the end of the command.
But my main question was why traces do not appear in a storage(Jaeger) and moreover I could not figure it out  because I could not get any logs des

[2019-06-25 14:00] SevaSafris commented on #103
Ah, yes, that's right. We currently have an outstanding issue for dynamic attach concerning propagation of system arguments from the agent process to the target process. This is currently at the top of my list of priorities, and I expect it to be resolved no later than tomorrow. Apologies for the wait time. I'll respond on this issue once that bug is resolved.

[2019-06-25 15:53] SevaSafris commented on #103
Hi @Vovan2006, I have resolved the issue with propagation of system arguments for invocation via dynamic attach. The fix will allow you to pass arguments from the agent command line to the target application. This has been pushed and released to the current development version: 1.3.2-SNAPSHOT. For download instructions, please refer to [this guide](https://github.com/opentracing-contrib/java-speci

[2019-06-25 17:10] SevaSafris commented on #99
Hi @khiradeshubham, were you able to resolve the problems you were encountering? Though not directly related, I have resolved an issue with propagation of system arguments for invocation via dynamic attach. This has been pushed and released to the current development version: 1.3.2-SNAPSHOT.

[2019-06-25 17:12] SevaSafris commented on #88
Hi @boostchicken, did the update to the Redis Lettuce Plugin resolve this issue re PubSub? If so, I'd like to close this issue.

[2019-06-25 17:13] SevaSafris commented on #87
Hi @boostchicken, did the update to the Apache HttpClient Plugin resolve this issue re default ports? If so, I'd like to close this issue.

[2019-06-25 17:15] SevaSafris commented on #86
Hi @boostchicken, did the fix to skip HttpClient instrumentation for AWS Client resolve this issue? If so, I'd like to close this issue.

[2019-06-25 19:59] Vovan2006 commented on #103
@SevaSafris,
Thanks for your answer.
I will take a new version, check my case again and let you know a result

[2019-06-26 13:35] Vovan2006 commented on #103
@SevaSafris,
I have checked the new version and know I see all logging regarding level which was set up in a system property, thereby I see that Jaeger tracer is chosen. And I am very happy about it ))
But unfortunately spans still do not appear in Jaeger storage. How else I can check my environment ?
Here is my commands which I enter:
1. docker run -d -p 5775:5775/udp -p 16686:16686 jaegertracing

[2019-06-26 13:50] SevaSafris commented on #103
Hi @Vovan2006, I'm glad to hear you're now able to see log statements from SpecialAgent in your target process.

The SpecialAgent is an engine that automatically installs a specific set of Instrumentation Plugins into a target runtime. The Instrumentation Plugins are specific, and are listed [here](https://github.com/opentracing-contrib/java-specialagent/#61-instrumentation-plugins).

With regard

[2019-06-26 14:13] Vovan2006 commented on #103
@SevaSafris,
should I add needed dependencies of  Instrumentation Plugins to my app ? Or it is responsibility of SpecialAgent and  target process only should use libraries which overlap with list of The Instrumentation Plugins ?

[2019-06-26 14:40] SevaSafris commented on #103
@Vovan2006, you do not need to add any dependencies or anything extra. The question remains: "What traces are you expecting to see? i.e., for which libraries?".

[2019-06-26 17:27] Vovan2006 commented on #103
@SevaSafris,
I would like to see at least traces for these  libraries:
Spring boot(rest controller),
org.springframework.web.client.AsyncRestTemplate,
org.springframework.web.client.RestTemplate.
Is it possible ?

[2019-06-28 06:16] Vovan2006 commented on #103
@SevaSafris,
As I understood if a log shows a following record

  it means that the SpecilaAgent detected overlapped libraries in my App and  should trace them.
Is that right ?

[2019-06-28 11:10] SevaSafris commented on #103
Hi @Vovan2006, apologies for the delayed response. Here are the answers to your questions:
1. `org.springframework.web.client.AsyncRestTemplate` and `org.springframework.web.client.RestTemplate` are instrumented in the **Spring Web Plugin**. The method that is instrumented for both of these classes is: `doExecute`.
2. Yes, "Allowing instrumentation" means that the plugin was triggered, and passed

[2019-06-29 04:55] boostchicken commented on #86
Hey @SevaSafris yes it did.

[2019-06-29 04:55] #86 closed

[2019-06-29 04:55] boostchicken commented on #88
Yup

[2019-06-29 04:55] #88 closed

[2019-07-02 12:06] Vovan2006 commented on #103
@SevaSafris,
I got a last version which you offered me before and now I have extra questions related to an error which I see in logs:
[code]
As I understood, the "org.springframework.http.client.InterceptingClientHttpRequest" accounts for this error. There are not rules/plugins for this library in the SpecialAgent. Correct me please if I am wrong

[2019-07-02 12:33] Vovan2006 opened #105 "Trying to attach in a static way, but it does not work"
![error](https://user-images.githubusercontent.com/16269410/60513112-e66e7600-9cc5-11e9-9876-746457b623ca.JPG)
Hello Java-special-agent team,
I am trying to attach to my app in a static way and do it from my intelij idea, but unfortunately I can't do it because of an error which appears strait away after starting app:

I use windows 10 as OS.
The error is thrown from SpecialAgentUtil.assertJavaAge

[2019-07-02 13:06] SevaSafris commented on #103
Hi @Vovan2006, the error you are seeing is due to the following situation:

1. Though `InterceptingClientHttpRequest` is not explicitly instrumented, its `execute` method invokes a `ClientHttpRequestInterceptor` that _is_ instrumented by SpecialAgent.
2. When invoked, `GlobalTracer.get()` returns a `NoopTracer`, which is _not right._ **Question for you: Can you provide the full log, so I can see w

[2019-07-02 14:15] Vovan2006 commented on #103
@SevaSafris,
here is the full log which you asked me to provide:

Regarding your second question about **including OpenTracing APIs and/or the opentracing-noop dependency in your runtime** I have only this dependency - io.opentracing.contrib:opentracing-spring-cloud-core. I need it because I have a custom trace implementation which works depending on app properties.

[2019-07-03 08:19] SevaSafris commented on #105
Please remove the quotes around the argument and try again.

[2019-07-03 10:06] Vovan2006 commented on #105
@SevaSafris, the same result

[2019-07-03 12:58] Vovan2006 commented on #105
@SevaSafris,
it seems the problem is hidden in SpecialAgentUtil.getName method.
It would be better to use **File.separatorChar** instead '47' and **File.separator** instead '/'

[2019-07-03 13:05] SevaSafris commented on #105
@Vovan2006, you're absolutely right. Thank you for finding this. I've just corrected this bug and have pushed to master. Hopefully, [Travis](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/553747212) will build and deploy this ASAP.

[2019-07-03 13:33] Vovan2006 commented on #105
Thanks @SevaSafris,
I am closing this issue

[2019-07-03 13:33] #105 closed

[2019-07-03 17:16] SevaSafris commented on #103
@Vovan2006, could you provide more of the log for me? I need to know _when_ this exception is thrown -- i.e. what log messages happened before this exception is encountered.

[2019-07-04 12:40] Vovan2006 opened #110 "NPE during processing io.opentracing.contrib.jdbc.JdbcTracingUtils.buildSpan"
Hi everyone,
I use a static way to attach to my app. During starting the app NPE is thrown.  A detailed error log can be found In an attached file. As I understood it is in some way related to the liquibase which I use in my app
[npe.log](https://github.com/opentracing-contrib/java-specialagent/files/3359300/npe.log)

[2019-07-04 13:53] SevaSafris commented on #110
Hi @Vovan2006, the stacktrace of the exception does not mention classes that belong to the SpecialAgent. It looks like this is an issue specific to the [JDBC Instrumentation Plugin](https://github.com/opentracing-contrib/java-jdbc).

[2019-07-04 13:58] malafeev commented on #110
I believe it's fixed in `0.1.5` release, SA requires update

[2019-07-04 16:09] SevaSafris commented on #110
Thanks for the comment @malafeev. I have upgraded the JDBC Instrumentation Plugin to 0.1.5. Once [this build is finished](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/554324949), it will be available on Maven Central Snapshots.

[2019-07-05 13:06] #110 closed

[2019-07-12 17:37] randallt opened #118 "shutdown hook NoClassDefFoundError"
Using version 1.3.2, the temporary files are not getting cleaned up and I see this log entry:

2019-07-11 22:24:57,47869 Exception in thread "Thread-1" java.lang.NoClassDefFoundError: io/opentracing/contrib/specialagent/SpecialAgentUtil$2$1
2019-07-11 22:24:57,48324       at io.opentracing.contrib.specialagent.SpecialAgentUtil$2.run(SpecialAgentUtil.java:425)

The class is indeed in the JAR, but a

[2019-07-12 20:31] SevaSafris commented on #118
Wow, this is unexpected. Can you provide some more insight with regard to your use-case?

[2019-07-12 20:37] randallt commented on #118
I'm trying to use this as part of a custom build. I take it that no one else has seen this? Funny thing is, I haven't changed anything in SpecialAgent before the shutdownhook is registered. The running JVM is using some old framework/library versions. Simple Framework 4.1, Restlet 2.0, as well as older jersey, jetty, and netty versions.

[2019-07-13 08:07] SevaSafris commented on #118
We haven’t seen this error before. You’re right to identify the confusing part, that the shutdown hook should have no problem being executed since its anonymous class is constructed when the “shutdown hook is registered”. Unless it’s actually the registration of the shutdown hook that leads to the exception.

How are you integrating SpecialAgent into your build? Are you attempting to have SpecialA

[2019-07-15 12:33] randallt commented on #118
I just meant that I'm running a custom build of special agent:
- uses Wavefront as the only a tracer, removes the other tracers since they take up the majority of the JAR size)
- removes some instrumentation rules/plugins to reduce startup time (any other recommendations to reduce startup time? seems to take about 30 sec, which I'm not sure if it will be acceptable to the owners here of the servic

[2019-07-15 13:52] randallt commented on #118
This was solved for me by simply using a concrete inner class for the delete logic. Just need to make sure that no classloading is trying to happen during the shutdown hook. I'm not sure why I was seeing it and no one else is, though. :-(

I also converted it to standard Java 8 syntax, which I think you won't want since you are using Java7.

( SpecialAgentUtil.findJarResources(..) )
[code]

[2019-07-16 13:37] randallt commented on #118
Interestingly, the above version also resulted in the exception and leaking temp files occasionally (seems to depend on how long the JVM has been running). Currently trying this version that further forces classloading at registration time:

[code]

[2019-07-16 13:53] SevaSafris commented on #118
Hi @randallt, thank you for the work you've put to figure this out. I can see how the explicit `DeleteTempFilesShutdownHook` class would solve the `NoClassDefFoundError` you experienced (despite me not being able to reproduce this error.

You have presented an interesting use-case that we did not consider, whereby you desire to remove the Tracer Plugins and Instrumentation Plugins from the build.

[2019-07-16 13:57] randallt commented on #118
Yeah, my lead says we need to get the additional startup time down to only a +15% margin, which I'm not sure is possible. I'll be doing some additional profiling of the startup time within the next couple weeks to see where additional savings can be had.

[2019-07-16 14:02] randallt commented on #118
My initial approach to building our agent was going to be to create my own and "borrow" things from this project. However, the complex classloading issues that I almost immediately hit made me re-evaluate. Instead of trying to lift all your solutions to those types of problems, I decided to customize/filter this project itself down to what I needed, and then add the pieces only relevant to us (Wav

[2019-07-16 14:04] randallt commented on #118
Also, what are your thoughts on instrumenting older libraries, and instrumenting specific versions of libraries in general? Should there be a naming convention in the rules/plugins?

[2019-07-16 14:41] SevaSafris commented on #118
Hi @randallt,

Regarding Instrumentation Plugins for old versions of libraries:
Yes, we 100% want to support as many versions as possible. This is especially important for companies with old applications that are running with 10-year-old libraries. In fact, it is more probable that one would be interested in using SpecialAgent for such an application, due to the inability to manually instrument su

[2019-07-16 14:48] randallt commented on #118
Yep, I understand the fingerprinting. I was more asking about adding versions to the rule/plugin names in the specialagent source itself. So, for example, what would multiple versions of Spring Web look like in the 'rules' folder?

[2019-07-16 17:21] SevaSafris commented on #118
@randallt, the naming convention of the plugins inside the SpecialAgent don't really matter. These plugins are not themselves externally usable by anything other than SpecialAgent. Therefore, sometime later down the line, we may conceive of a better naming convention. But for the time being, it's not that big of a priority.

[2019-07-16 17:23] SevaSafris commented on #103
Hi @Vovan2006, do you have an update regarding this issue? Are you still experiencing problems with dynamic attach?

[2019-07-16 17:24] SevaSafris commented on #99
Hi @khiradeshubham, please advise whether you are still experiencing issues with dynamic attach. If not, I will close this issue.

[2019-07-16 17:25] #87 closed

[2019-07-17 00:51] jam01 opened #123 "Issue when `mvn clean install`"
[code]

[2019-07-17 04:55] jam01 commented on #123
Seems for some reason the fingerprint goal is executed for the rules module, I don't see that happening in the Travis runs though.

[2019-07-18 10:41] Vovan2006 commented on #103
Hi @SevaSafris, I have decided to play with static  attach for now. So this issue can be closed

[2019-07-18 10:41] #103 closed

[2019-07-18 12:41] #99 closed

[2019-07-19 20:09] randallt opened #130 "SpecialAgent causes logging system errors on startup"
When I add the special agent to a service using -javaagent commandline, I am getting these additional log lines during startup:

[code]

However, the log appears to be working fine otherwise.

[2019-07-22 14:41] randallt commented on #130
I think this is the Wavefront Tracer plugin I wrote causing this actually. The Wavefront OpenTracing SDK seems to cause this (seen with -verbose:class turned on), as it is output during the loading of the Wavefront Tracer.

[2019-07-23 21:06] randallt opened #135 "concurrent 'schedule' rules cause incorrect span relationships"
I just debugged an issue that ended up being caused by one of the 'schedule' rules found in the concurrent package.

In this particular case, we have a server serving requests. The first request starts a job that renews an authorization session every five minutes. Spans from this scheduled job should NOT have the span that was active at the time these jobs were scheduled to be their parent span FO

[2019-07-23 21:12] randallt commented on #135
To be clear, I meant to disable the ones that schedule a periodic execution:

* io.opentracing.contrib.specialagent.concurrent.FixedDelayAgentRule
* io.opentracing.contrib.specialagent.concurrent.FixedRateAgentRule

[2019-07-24 13:02] SevaSafris commented on #130
Hi @randallt, these log messages are being produced due to SLF4J's own dynamic service provider loading logic. The SpecialAgent ends up interacting with the SLF4J APIs, yet the provider is not being resolved by the API, or is missing from the runtime completely. It is not SpecialAgent's responsibility to specify the SLF4J provider, so these error messages are unfortunately not within its scope to

[2019-07-24 13:33] SevaSafris commented on #135
Hi @randallt, this is a great use-case! I agree that the Concurrent Plugin needs to be corrected to accommodate your use-case. I have implemented [a new pattern](https://github.com/opentracing-contrib/java-specialagent/#343-disabling-agentrules-of-an-instrumentation-plugin) that will allow you to disable individual `AgentRule`s.

[2019-07-29 10:09] qudongfang opened #143 "java core dump when java.io.tmpdir isn't exist for some unknown reason"
The JVM process will core dump when `java.io.tmpdir` doesn't exist for some uncertain reason.

[code]

I'm just posting this issue here for reference.

We use `Files.createTempDirectory` in `java-specialagent` which will not create the nonexistent parent directories.
https://github.com/opentracing-contrib/java-specialagent/blob/7c40f4bf15edd284be0293d84df6f356bc920e04/opentracing-specialagent/src/

[2019-07-29 13:28] SevaSafris commented on #143
Hi @qudongfang, this is an interesting exception. I'm trying to understand how this can be happening. I think you may need to manually set `java.io.tmpdir` to a path that exists. Looking at the `Files.createTempDirectories` method, I believe it's doing everything correctly.

[2019-08-02 20:27] jam01 commented on #123
Hey Seva, any ideas on this? Is there any other info you could use?

[2019-08-02 20:47] jam01 opened #148 "Doubled okhttp spans"
Instrumenting the following code:

[code]
with the command:
 `java -javaagent:opentracing-specialagent-1.3.3-SNAPSHOT.jar -DJAEGER_SERVICE_NAME=java-okhttp -Dtracer=jaeger -jar target/disttracing-webapp-1.0-SNAPSHOT-jar-with-dependencies.jar`

results in two spans where there should only be one, see:

[code]

[2019-08-04 21:47] SevaSafris commented on #123
Hi @jam01, sorry for the super late response on this. I thought you had figured it out. This is definitely very strange, because it's working properly in Travis. What is the command you're using to build SpecialAgent?

[2019-08-04 21:49] SevaSafris commented on #148
Hi @jam01, thanks for posting this bug. This is definitely an issue, and I'll try to replicate your use-case to debug it.

[2019-08-05 02:14] malafeev commented on #148
I don't think it's an issue of SA.
OkHttp instrumentation creates 2 spans for 1 request:
https://github.com/opentracing-contrib/java-okhttp/blob/master/opentracing-okhttp3/src/test/java/io/opentracing/contrib/okhttp3/AbstractOkHttpTest.java#L78

[2019-08-07 07:09] qudongfang commented on #143
Sorry, maybe I am not clear earlier.

We are using [`Files.createTempDirectory`](https://docs.oracle.com/javase/8/docs/api/java/nio/file/Files.html#createTempDirectory-java.lang.String-java.nio.file.attribute.FileAttribute...-) which will not create the non-exist parent directories in `java-specialagent`.

And there is not an API named `Files.createTempDirectories` in [JDK](https://docs.oracle.com

[2019-08-07 10:00] SevaSafris commented on #143
Hi @qudongfang, thanks for clarifying. I believe it is Catalina's responsibility to create `$CATALINA_BASE/temp`. Because, Catalina sets `java.io.tmpdir` to `$CATALINA_BASE/temp`.

[2019-08-07 10:59] qudongfang commented on #143
Yes, you are right.
The responsibility is Catalina's or `java-sepcialagent` users.

My initial point is: Shall we do something to help with this issue?

Here are my points:
1. The user's program may be OK without using `java-sepcialagent` because they may not use `tmp file`.
1. Instead of an Exception or tracing not enabled, `java-sepcialagent` caused the whole jvm crashed.

[2019-08-07 14:32] randallt opened #153 "Jetty ClassNotFoundException on Jetty 9.2.10.v20150310"
I am running a custom build of specialagent. I tried using the rule 'specialagent-web-servlet-filter', by setting the Jetty version to the one I needed, but keeping everything else unchanged. When I do so, I seem to get some strange classloading issues.

One that I can't overcome yet is this ClassNotFoundException:

[code]

Any ideas of what is causing this? I realize that it is likely a Jetty ver

[2019-08-07 15:58] randallt commented on #153
Interestingly, I didn't have the Jetty/Servlet rules enabled for the above exception, just the Apache HTTP Client rule.

[2019-08-07 16:01] SevaSafris commented on #153
Hi @randallt, can you elaborate on how you have changed the Jetty version? Did you change it in the POM of `specialagent-web-servlet-filter`? When is this exception being produced? During the build lifecycle, or during `JettyServletTest`?

[2019-08-07 16:03] randallt commented on #153
Yes, I just changed the Jetty version in the pom of `specialagent-web-servlet-filter`.

This exception happens when I try to launch the application where specialagent is added as a javaagent.

[2019-08-07 16:04] SevaSafris commented on #153
Does `JettyServletTest` pass with the different version of Jetty?

[2019-08-07 16:10] randallt commented on #153
So, like my first comment states, it looks like the apache-httpclient rules are causing this.

Regarding the tests, when I initially built this using just vanilla specialagent v1.3.2, I had test failures all over the place that I couldn't figure out, so tests have been disabled up till now. It's on my list of things to figure out.

[2019-08-07 16:12] SevaSafris commented on #143
You are absolutely right @qudongfang. I've updated the SpecialAgent to prevent from crashing the VM in case of an exception.

[2019-08-07 16:17] randallt commented on #153
Some FINER log messages:
[code]

[2019-08-07 16:18] SevaSafris commented on #153
The tests are critical in asserting the SpecialAgent packages the correct dependencies for each plugin to be able to load correctly in a target runtime. The `NoClassDefFoundError` you're experiencing is a result of some Maven artifact that's misplaced or missing or something, with regard to the different version of Jetty you're trying to use. Additionally, the fact you're getting a `NoClassDefFoun

[2019-08-07 16:35] randallt commented on #153
I should note also, that my colleagues got this same exception when using a vanilla build of special agent v1.1.1 with the Jaeger tracer. I know it has to do with us using an older version of 'something' in this application.

I'm also using an older version of Apache HttpClient 4.3.6.

I took web-servlet-filter completely out of my build and verified that its rules weren't loaded. So I can confirm

[2019-08-07 16:46] SevaSafris commented on #153
Many things have changed since v1.1.1, and I would encourage you to upgrade to the latest version.

In order to track down the reason for this issue, my first step would be to assert that tests pass. Only when tests pass would I attempt to use SpecialAgent in assembled mode, externally.

The tests will guide you to resolve 95% of all issues, which is why I am adamant you should re-enable tests bef

[2019-08-07 17:10] randallt commented on #153
Dang, nope, not caused by apache-httpclient. So it's some of the base rules, likely a classloader thing. I will try to tests passing. My current build is based off v1.3.2, so not too far behind...

[2019-08-07 18:56] randallt commented on #153
Failing test:
[code]

[2019-08-07 19:52] randallt commented on #153
I get this same test failure after downloading the source zip for the v1.3.3 release and running `mvn clean install`. So it must be something related to my environment?

Maven version output:

Apache Maven 3.6.1 (d66c9c0b3152b2e69ee9bac180bb8fcc8e6af555; 2019-04-04T14:00:29-05:00)
Maven home: C:\Users\rtheobald\programs\maven\apache-maven-3.6.1
Java version: 1.8.0_191, vendor: Oracle Corporation,

[2019-08-08 02:22] qudongfang commented on #143
Brilliant!

[2019-08-08 02:22] #143 closed

[2019-08-08 13:53] randallt commented on #153
When skipping tests, I also get this on the v1.3.3 release build:

[code]

[2019-08-08 14:31] randallt commented on #153
One last comment here. I downloaded the 1.3.3 JAR from public maven and tried to use that. I get a different issue:

[code]

So it looks like the vanilla agent with no options (no tracer enabled), as broken my application. Does this not go against the goals of this project?

[2019-08-08 15:49] SevaSafris commented on #153
Hi @randallt, I'm not sure why your vanilla build of SpecialAgent is not working. The [Travis build](https://github.com/opentracing-contrib/java-specialagent/blob/master/.travis.yml#L34) just does `mvn install`.

With regard to your Spring issue: I have not encountered this error before, and suspect it is due to some Spring version incompatibility that we have not seen yet. If you could provide me

[2019-08-08 16:33] randallt commented on #153
I found this set of JARs in the lib of the webapp:
[code]

Further context: I have never been a developer of this webapp, so I am not familiar with many of its details. I am trying to get some basic tracing using an agent for the incoming and outgoing requests. What further details might you need?

[2019-08-08 21:17] SevaSafris commented on #153
Hi @randallt, could you provide the full SpecialAgent log? You can isolate the SpecialAgent logs with [`-Dsa.log.file=sa.log`](https://github.com/opentracing-contrib/java-specialagent/#32-properties). Also, please set `-Dsa.log.level=FINEST`.

[2019-08-08 21:55] randallt commented on #153
Using 1.3.4-SNAPSHOT, I'm getting a failure to start:
[code]

[2019-08-08 22:10] SevaSafris commented on #153
Hi @randallt, this error is caused by a mistake on my part. I've fixed this, and Travis is currently building the release [here](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/569571233). When the build is completed, please try again.

[2019-08-09 13:15] randallt commented on #153
Log attached.
[sa.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3486508/sa.log.gz)

[2019-08-09 14:16] SevaSafris commented on #153
Hi @randallt,

I have reviewed the logs, and have a theory as to what is happening:

1. The `org.eclipse.jetty.webapp.WebAppClassLoader` is the target class loader for intercepts, as SpecialAgent detects a rule match to classes inside this class loader.
1. The SpecialAgent then links the `org.eclipse.jetty.webapp.WebAppClassLoader` to a `RuleClassLoader` that contains the instrumentation classes,

[2019-08-09 14:30] randallt commented on #153
Alright. Thanks for the analysis. Please let me know if there is anything I can do to help further debug or to try out custom instrumented builds.

[2019-08-09 15:05] SevaSafris commented on #148
Hi @jam01, as @malafeev said, the 2 spans are intentional. Can we close this issue?

[2019-08-09 15:09] SevaSafris commented on #135
Hi @randallt, I'm reviewing this issue again, and wanted to know if you were able to use the [aforementioned pattern](https://github.com/opentracing-contrib/java-specialagent/#343-disabling-agentrules-of-an-instrumentation-plugin) to work around your issue. Also, if you could, please file an issue with the [java-concurrent plugin](https://github.com/opentracing-contrib/java-concurrent/), as the be

[2019-08-09 15:12] SevaSafris commented on #130
Hi @randallt, can we close this issue?

[2019-08-09 15:13] SevaSafris commented on #123
Hi @jam01, were you able to get past this issue?

[2019-08-09 15:13] randallt commented on #130
Yes.

[2019-08-09 15:13] #130 closed

[2019-08-09 15:21] randallt commented on #135
Hi. No, I did not try the exclusion pattern mentioned above. I have opened

https://github.com/opentracing-contrib/java-concurrent/issues/17

[2019-08-09 15:21] #135 closed

[2019-08-09 15:31] jam01 commented on #148
Yes! I don't understand why we'd want two spans, but that's unrelated to specialagent.

[2019-08-09 15:31] #148 closed

[2019-08-09 15:32] jam01 commented on #123
No, haven't tried again. The command was a `mvn clean install`.

[2019-08-12 13:35] randallt commented on #153
Hi @SevaSafris,

What's your guess at a probability that we can fix this classloader issue for this situation? On our end, we may need to start looking at alternatives...

[2019-08-12 13:46] randallt commented on #153
One thing I don't understand in your analysis above (and it may be because I'm rusty on classloading intricacies): why is `sun.reflect.ConstructorAccessorImpl` delivered by the `RuleClassLoader`? Isn't it failing to load and actually being delivered by the bootstrap CL? And if it is from the bootstrap CL, why is it considered a different version of the class?

Thinking about a possible solution...

[2019-08-12 14:57] SevaSafris commented on #153
@randallt, the class loading intricacies I described in my previous post are specific to SpecialAgent. The SpecialAgent implements a particular class loading architecture to be able to "force load" instrumentation classes into **any** class loader. The `RuleClassLoader` is responsible for delivering classes into a target class loader that contains instrumented classes. The `RuleClassLoader` is res

[2019-08-13 20:36] jam01 commented on #123
https://en.wiktionary.org/wiki/PEBCAK

[2019-08-13 20:36] #123 closed

[2019-08-15 16:12] randallt commented on #153
@SevaSafris, any further ideas on this spring-beans issue? Do you have an idea of which version doesn't exhibit this issue?

[2019-08-15 17:22] SevaSafris commented on #153
Hi @randallt, unfortunately I have not had any more revelations regarding this issue. SpecialAgent does not directly instrument Spring Beans, and so everything I'd say is purely speculative until we get a use-case to reproduce the problem. The first step is to create a test app that reproduces this error. If you can help with this, I'll prioritize it amidst the queue of other issues we're working

[2019-08-29 19:39] randallt opened #158 "Why is the Oracle JDK required to build?"
In the readme,

https://github.com/opentracing-contrib/java-specialagent#2121-building

it says that the Oracle JDK is required to build the project, but no further details are given. If building with OpenJDK is required, what would need to be cut from the project?

[2019-08-29 21:26] randallt commented on #153
From

https://www.eclipse.org/jetty/javadoc/9.2.22.v20170606/org/eclipse/jetty/webapp/WebAppClassLoader.html

This is not the pattern that is the problem, right?

[2019-08-30 09:24] SevaSafris commented on #158
The requirement for Oracle JDK was in part due to complications with [this](http://bytebuddy.net/javadoc/1.9.16/net/bytebuddy/agent/ByteBuddyAgent.html#install--). Additionally, the SpecialAgent uses a few "sun.*" system properties, which are only guaranteed to be present in the Oracle JRE. We have an open issue to resolve coupling.

[2019-08-30 09:28] SevaSafris commented on #153
I'm not sure.

[2019-08-30 18:51] randallt commented on #153
This seems to be blowing up while loading an XML file (a context.xml with spring beans in it) from a nested JAR (module-saml) inside the expanded WAR. I have no experience putting together that type of sample application, but I'll give it a shot next week some time. But there is a separate issue with the class not found exception for org/eclipse/jetty/http/HttpMethod. I think these are two separat

[2019-09-03 23:01] randallt commented on #153
I updated my custom build to the 1.3.5 level and I only get the following type of exception:

[code]

[2019-09-03 23:09] randallt commented on #153
Attached.
[sa.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3572006/sa.log.gz)

[2019-09-04 15:27] randallt commented on #153
I created an agent JAR that has no rule plugins in it, and this NoClassDefFoundError did not happen. When I added the single 'specialagent-concurrent' rule plugin, then it happened. So it looks like it is a fundamental issue with the way RuleClassLoaders are linked.

[sa.log.concurrent-only.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3575283/sa.log.concurrent-only.log.gz

[2019-09-04 17:02] SevaSafris commented on #153
Hi @randallt, yes, that's correct. Your findings are matching what I described [here](https://github.com/opentracing-contrib/java-specialagent/issues/153#issuecomment-519936165).  Have you tried to attach dynamically to your app after it's gone through the full loading process?

[2019-09-04 17:13] randallt commented on #153
No I haven't. What would that tell us? Would that be an option in production?

[2019-09-04 17:23] SevaSafris commented on #153
It would allow an application to start fully sans the interference of the `RuleClassLoader`. You can also try [Static Deferred Attach](https://github.com/opentracing-contrib/java-specialagent#223-static-deferred-attach), which is experimental, but was created specifically for these kinds of situations.

[2019-09-04 18:32] randallt commented on #153
Static Deferred Attach resulted in the same NoClassDefFoundError eventually.

[sa.log.deferredattach.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3575968/sa.log.deferredattach.log.gz)

[2019-09-13 22:41] SevaSafris commented on #153
Hi @randallt, today I finished a significant refactor of the logic involving `RuleClassLoader` and `ClassLoaderAgentRule`. The new behavior is for the `RuleClassLoader` to lock itself once it has loaded the intended classes into a target class loader. I was not able to reproduce your error, but I was able to follow other symptoms in the direction that I believe relates to the problem you experienc

[2019-09-14 01:09] randallt commented on #153
This is great news. I’ll try it out early next week.

Randall Theobald
Sr Principal Software Engineer
Performance Engineering • Product Engineering
Secureworks® | Collectively Smarter. Exponentially Safer.™
rtheobald@secureworks.com
________________________________
From: Seva Safris <notifications@github.com>
Sent: Friday, September 13, 2019 5:41:04 PM
To: opentracing-contrib/java-specialagent <ja

[2019-09-16 19:08] randallt commented on #153
Unfortunately, I get the same exceptions. I did have to rename the JAR to *-1.3.7-SNAPSHOT.jar to avoid the assert JAR name error.

With the vanilla agent, I get the the exception mentioned in this comment:
https://github.com/opentracing-contrib/java-specialagent/issues/153#issuecomment-519543948

When I strip all the non-tracer plugins out of the plugins dir in the JAR except 'specialagent-concur

[2019-09-16 19:11] SevaSafris commented on #153
@randallt, the fact that you're not getting `1.4.0-SNAPSHOT` is a bug with oss.sonatype.org. Please download the JAR directly via:
[code]
and rename it to `opentracing-specialagent-1.4.0-SNAPSHOT.jar`.

[2019-09-16 19:32] randallt commented on #153
Okay. Good catch. I am now getting some different issues. Let me know if you want an isolated logging level like before.

Exceptions in my application log:

[code]
[code]

[2019-09-16 20:03] SevaSafris commented on #153
@randallt, I'm not sure what is causing the `IllegalAccessError`. Class `io.opentracing.contrib.specialagent.AgentRule$1` has public visibility. Can you run with the `-verbose` VJM option? This will show which classes are being loaded by which class loaders.

[2019-09-16 20:31] randallt commented on #153
The -verbose flag showed which JAR the classes are loaded from, but I'm not sure that's helpful. I did do an isolated FINEST trace, though.

[sa.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3618080/sa.log.gz)

[2019-09-16 20:32] randallt commented on #153
Didn't you say that you froze the classloaders? Perhaps these requests to load the specialagent classes are happening after the classloaders have been frozen?

[2019-09-16 20:35] SevaSafris commented on #153
@randallt, I don't see the `-verbose` logs from the JVM. Can you make sure you capture this? FINEST level logging does not help here. The underlying exception is an `IllegalAccessError`, and not `ClassNotFoundException` or `NoClassDefFoundError`.

[2019-09-16 20:47] randallt commented on #153
[current.gz](https://github.com/opentracing-contrib/java-specialagent/files/3618143/current.gz)

[2019-09-17 00:57] SevaSafris commented on #153
@randallt, thanks for sending that. I can see on line 5493 it says that `io.opentracing.contrib.specialagent.AgentRule` is loaded from `__JVM_DefineClass__`. This is unexpected. It looks like the `AgentRule` class is being loaded twice -- once in the bootstrap class loader, and again dynamically. This should not be happening.

[2019-09-17 13:23] randallt commented on #153
I'm happy to help in any way I can.

[2019-09-17 16:50] SevaSafris commented on #153
Hi @randallt, this is definitely an interesting issue. Of the 2+ hours of regression tests that we run, the situation you're seeing is never encountered. Nevertheless, I looked at the implementation of `org.eclipse.jetty.webapp.WebAppClassLoader`, and read about [its class loading policy](https://github.com/jfinal/jetty-server/blob/master/src/main/java/org/eclipse/jetty/webapp/WebAppClassLoader.ja

[2019-09-17 18:49] randallt commented on #153
I need to rename the JAR to *-SNAPSHOT.jar, right? Otherwise I get the failed 'assertJavaAgentJarName'.

[2019-09-17 18:51] SevaSafris commented on #153
That’s correct. That check is designed to ensure the name of the JAR is correct (otherwise it will not be properly loaded as a java agent).

[2019-09-17 20:17] randallt commented on #153
I am no longer getting Exceptions, so that is good. I am in the process of validating the app with the agent loaded, but some environmental issues are impeding me at the moment. Will let you know soon, hopefully.

[2019-09-17 20:41] randallt commented on #153
Looks like we are good to go. We aren't seeing any issues so far.

[2019-09-17 20:50] SevaSafris commented on #153
Release of 1.4.0 is scheduled for this friday.

[2019-09-17 20:53] randallt commented on #153
One more question. Is it okay to have the specialagent on the JVM classpath as well as listed as the 'javaagent' ? We have services that pull dependencies into a lib folder and put them all on the classpath. I'm wondering if I can just use our existing dependency mechanism to pull the specialagent jar into the classpath lib folder, or if I need to put it somewhere else on disk.

[2019-09-17 21:29] SevaSafris commented on #153
The SpecialAgent should not be on the application's class path. Doing so will result in unexpected class loading behavior. The SpecialAgent is only designed to work properly as a java agent that is injected onto the target application's bootstrap class loader. If you add SpecialAgent to the class path, its classes will become available on the system class loader as well.

[2019-09-18 16:15] randallt commented on #153
Do you have a recommended way that project POMs can reference this dependency but treat it differently than a normal classpath dependency?

[2019-09-18 18:55] SevaSafris commented on #153
Maven does not offer a direct way to achieve this. You'd have to get creative if you want to have Maven manage the SpecialAgent dependency without actually making it a JAR dependency.

[2019-09-20 15:56] ledor473 opened #165 "IllegalThreadStateException when using Static Deferred Attach"
Hi,

We've tried the `Static Deferred Attach` on a Spring Boot application but the application crash on startup with the following stacktrace:

[code]

Earlier in the startup, I can also see:
[code]

That's not a lot of information but when I applied this change: https://github.com/opentracing-contrib/java-specialagent/pull/164, I get the following stack trace:
[code]

Here's all the Spring deps w

[2019-09-20 17:18] piclemx commented on #165
@SevaSafris Should we try wit the `1.4.0` version? Since I saw in another issue that you will cut a new release soon?

[2019-09-23 18:19] randallt commented on #153
This has been fixed in release 1.4.0.

[2019-09-23 18:19] #153 closed

[2019-09-23 18:19] randallt commented on #118
This has been fixed in release 1.4.0.

[2019-09-23 18:19] #118 closed

[2019-09-23 18:56] SevaSafris commented on #165
Hi @ledor473, the Static Deferred Attach mode is not well tested right now. May I ask why you are trying to use Static Deferred Attach instead of Static Attach?

[2019-09-24 16:03] ledor473 commented on #165
@SevaSafris no particular reason, we saw it in the README and felt it was more appropriate to use it because we use Spring Boot.

[2019-09-24 17:30] SevaSafris commented on #165
@ledor473, I had implemented Static Deferred Attach as a workaround for situations where SpecialAgent interfered with Spring during initialization. It is a hack, and clearly does not work in your situation. I aspire to have SpecialAgent be resilient to interference during startup. If you experience such issues, please don't hesitate to open an issue.

[2019-09-26 22:48] hanwavefront opened #167 "Add Wavefront Tracer Plugin"
Just a heads up -- We are working on a [Wavefront OpenTracing Bundle](https://github.com/wavefrontHQ/wavefront-opentracing-bundle-java) that serves as a tracer plugin, and we would like to add it as an internal tracer plugin to the SpecialAgent.  We plan to open a PR to do so once the bundle is released.  Please let me know if there's anything you would like to discuss.  Thanks.

[2019-09-27 17:38] SevaSafris commented on #167
Hi @hanwavefront, sounds good. I briefly looked through your code. If you need any help, please let me know.

[2019-09-27 21:57] #167 closed

[2019-10-10 19:52] randallt opened #178 "servlet rule plugin causes extra retries in 403 downstream calls"
I have come across a very strange problem and thought I'd share in case you have any insights.

We have a web application that calls other backend/downstream services. This is the same web application as reported in issue #153.

We ran into an issue where the number of downstream calls to other services resulting in 403 HTTP responses (using Apache HttpClient) increased dramatically (~10x) when th

[2019-10-11 05:22] SevaSafris commented on #178
Hi @randallt, could you provide me the FINER level log spanning the time you experience 2x the number of calls?

[2019-10-11 12:47] randallt commented on #178
Attached. In this case, one downstream service with result code 403 was called 84 times, compared to 34 times with the agent not running.

[sa.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3717606/sa.log.gz)

[2019-10-14 13:38] SevaSafris commented on #178
Hi @randallt, I believe I have found the cause of these duplicated calls. If you could, please grab the [latest snapshot build](https://github.com/opentracing-contrib/java-specialagent/#2112-development) once [this job](https://travis-ci.org/opentracing-contrib/java-specialagent/jobs/597634042) completes, and let me know your findings.

[2019-10-14 15:31] randallt commented on #178
Hi @SevaSafris, I pulled the code change in the servlet rule plugin in and it appears to have fixed this issue. Thanks for addressing it in such a speedy manner!

[2019-10-15 06:55] SevaSafris commented on #178
Hi @randallt, that's great to hear! Sorry for the bug. The servlet plugin is unfortunately complex, since it has to support Servlet API 2.3, 2.5, and 3+.

[2019-10-15 06:55] #178 closed

[2019-10-16 09:42] dearboll opened #179 "Config file to disable rules does not work"
I am following the [guide](https://github.com/opentracing-contrib/java-specialagent#342-disabling-one-instrumentation-plugin) and I wanna disable some rules such like `servlet` . My start script is like blow.
[code]
But unfortunately it seems not work, The file jaeger.config is like blow.
[code]
I wonder if there is a demo config file as example to enable or disable plugins or rules. Thank you a l

[2019-10-16 10:09] SevaSafris commented on #179
Hi @dearboll, thank you for opening this issue. This was in fact a bug introduced by the recent changes to the plugin naming convention.

[2019-10-16 10:12] SevaSafris commented on #179
Hi @dearboll, this has been fixed. Once [this job](https://travis-ci.org/opentracing-contrib/java-specialagent/jobs/598578470) is done, please [download the latest snapshot](https://github.com/opentracing-contrib/java-specialagent/#2112-development) and try again.

[2019-10-23 21:46] mywoodstock opened #186 "Add Zipkin Tracer Plugin"
I have been utilizing Zipkin as a primary tracing system and would love to have Zipkin tracer plugin added. I already have a [version working](https://github.com/mywoodstock/zipkin-tracerresolver), and I can look into creating a PR for it if this is in line with the SpecialAgent roadmap.

[2019-10-24 06:28] SevaSafris commented on #186
Hi @mywoodstock. Yes, we can include your Zipkin resolver as an internal Tracer Plugin in the SpecialAgent. Before we can proceed, please:
1) Add some tests securing your implementation.
2) Add a README.md ([example 1](https://github.com/opentracing-contrib/java-opentracing-jaeger-bundle), [example 2](https://github.com/lightstep/lightstep-tracer-java/tree/master/lightstep-tracer-jre-bundle), [exa

[2019-10-29 16:10] malafeev opened #191 "Hazelcast and Redisson cannot be upgraded to latest opentracing contrib versions"
For example upgrade opentracing-hazelcast to 0.1.5:
[code]

Then run unit tests (`HazelcastTest`).
Error:
[code]

[2019-10-30 05:51] SevaSafris commented on #191
@malafeev:

[2019-10-30 07:08] SevaSafris opened #192 "Cassandra integration tests are hanging"
Something happens with the `EmbeddedCassandraServerHelper.startEmbeddedCassandra` method (I think), and the main thread exits with no errors or warnings. But the process remains alive cause of other threads.

`mvn -Dtest -P cassandra clean install`

[2019-10-31 06:02] malafeev commented on #192
fixed via #193

[2019-10-31 06:02] #192 closed

[2019-10-31 14:30] SevaSafris opened #195 "Implement integration tests for: Akka Http Client"

[2019-11-01 07:53] malafeev commented on #195
fixed via #196

[2019-11-01 07:53] #195 closed

[2019-11-01 21:23] montyz opened #198 "Wildfly fails to start"
I'm trying to run specialagent with wildfly 17. I added `-javaagent:/opt/lark/bin/opentracing-specialagent-1.5.0.jar` to the startup command, but it fails to find `io/opentracing/tag/Tag`. Any ideas how to get past this?

[code]

[2019-11-04 03:28] hotdust opened #199 "about tracing private method of business logic"
Because the business team wants to trace private method args to find reason of bug, I think maybe specialagent can help.

I read README.md of Non-Goals:

Is that means specialagent can not instrument private method?

[2019-11-04 07:40] safris opened #200 "Implement integration tests for JBoss"
We need integration tests for JBoss to determine the lowest and highest versions supported.

[2019-11-04 07:42] SevaSafris commented on #198
Hi @montyz, the `io.opentracing.tag.Tag` class is loaded into the bootstrap class loader by SpecialAgent. It seems that JBoss's `ModuleClassLoader` has logic to ignore the bootstrap class loader, and tries to find the `io.opentracing.tag.Tag` class locally. This kind of behavior is _not uncommon_ for application servers, and we have solved them for Jetty and Tomcat.  I have created issue #200 for

[2019-11-04 09:39] SevaSafris commented on #199
Hi @hotdust, the SpecialAgent is not designed to instrument arbitrary methods. If you would like to instrument some specific methods in your application, you can do this by implementing an [Instrumentation Rule](https://github.com/opentracing-contrib/java-specialagent/tree/master/opentracing-specialagent-api). You can implement your own Instrumentation Rule, and then include this rule to be loaded

[2019-11-04 10:01] SevaSafris commented on #198
Hi @montyz, if you could provide logs from SpecialAgent, this would help us resolve the issue. Please set the `-Dsa.log.level=FINEST` system property, and run your test again. This will produce a significant amount of log entries, which will shed considerable light onto this situation.

[2019-11-04 10:06] #179 closed

[2019-11-04 10:29] SevaSafris opened #201 "Upgrade essential dependencies"

[2019-11-04 11:29] #201 closed

[2019-11-04 15:15] malafeev commented on #191
fixed via #202

[2019-11-04 15:15] #191 closed

[2019-11-04 20:06] montyz commented on #198
OK, I ran again with `-Dsa.log.level=FINEST`. Log attached, thanks for your help!

[stderr.log](https://github.com/opentracing-contrib/java-specialagent/files/3805851/stderr.log)

[2019-11-05 06:11] SevaSafris commented on #198
Hi @montyz, your logs helped me identify a subtle bug that may or may not be the cause for the exception you're seeing. If you could, please run your test again and post the log.

[2019-11-05 08:00] hotdust commented on #199
@SevaSafris thanks for reply, I will try it. please do not close this issue temporarily.

[2019-11-05 17:24] montyz commented on #198
Thanks, but it still doesn't start. Attached is the log run with snapshot 1.5.1

[stderr.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3810341/stderr.log.gz)

[2019-11-06 07:27] SevaSafris commented on #198
Hi @montyz, the exception in your most recent log is different:
[code]
Can you assert this error is not due to misconfiguration on your part?

[2019-11-06 14:40] SevaSafris opened #206 "Implement integration tests for Play Framework"
The `AgentRunner` test in `rule/play` tests Play Framework v2.6.0. We need to determine the range of versions supported by this rule via min/max version integration tests.

[2019-11-06 15:22] montyz commented on #198
Oh my apologies, I did not look closely at the log, however I can assert that my configuration does work without the `java-specialagent` present. I will look at my configuration and see if there is anything I can change to make it work.

[2019-11-06 17:55] montyz commented on #198
After following advice in https://developer.jboss.org/thread/272840 and https://stackoverflow.com/questions/55874743/noclassdeffounderror-when-using-jmx-exporter-with-wildfly-15, I added the following env vars before starting wildfly:

[code]

Full log files attached, the exceptions excerpted below.

[stderr.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3815993/stderr.log.

[2019-11-06 21:00] alvinhom opened #207 "Logging does not work when using SpecialAgent with dynamic attach"
I am trying to use dynamic attach with SpecialAgent to attach to existing Java process.  I am not able to see any logging statements when using Dynamic Attach.  If I use the static approach, then logs are generated.

After looking at the code, looks like the Logger class is instantiated and initialized once before the properties (from SpecialAgent.premain) get set.  So, even though system properti

[2019-11-07 04:56] #207 closed

[2019-11-07 04:59] SevaSafris commented on #207
Hi @alvinhom, thank you for bringing this bug to our attention. This has been fixed in the current SNAPSHOT build.

[2019-11-07 06:04] SevaSafris commented on #198
Hi @montyz, I have reviewed your recent logs. To my surprise, it looks like WildFly has [direct integration with OpenTracing](https://github.com/wildfly/wildfly/blob/master/microprofile/opentracing-smallrye/src/main/java/org/wildfly/microprofile/opentracing/smallrye/TracerInitializer.java).  While loading, WildFly uses `TracerResolver` to scan the classpath with the SPI interface to locate Tracer

[2019-11-07 06:10] alvinhom opened #208 "Getting error when using agent with Jetty with a custom ServletFilter"
I am trying to instrument an application running with Jetty.  The application has a custom servlet filter in the filter chain to handle some logic.  When I run the application after instrumenting, I am getting the following exception.  I am running the 1.5.1-SNAPSHOT version of the agent, build on my machine.

[code]

[2019-11-07 06:13] SevaSafris commented on #208
Hi @alvinhom, can you please specify which version of Jetty you are using?

[2019-11-07 06:18] alvinhom commented on #208
<jetty.version>9.4.19.v20190610</jetty.version>

[2019-11-07 06:21] SevaSafris commented on #208
Hi @alvinhom, can you please provide a log with `-Dsa.log.level=FINER`?

[2019-11-07 06:32] alvinhom commented on #208
[sa.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3818135/sa.log.gz)

[2019-11-07 08:11] alvinhom commented on #208
BTW, the application uses OSGI and its classloaders.  According to this Stackoverflow question about OSGI interaction with bytebuddy, classes need to be injected to bootstrap class loader.

https://stackoverflow.com/questions/43486670/bytebuddy-with-osgi-container

Not sure if this is being handled by SpecialAgent currently.

[2019-11-07 15:57] malafeev commented on #206
fixed via #209

[2019-11-07 15:57] #206 closed

[2019-11-08 00:10] montyz commented on #198
Getting closer. Running in kubernetes where Jaeger env vars are defined, I now get a `StackOverflowError`
[code]

[2019-11-08 00:19] alvinhom commented on #208
I just rebuild from the latest master and the problem went away.  I am guessing it is related to the other fix that you put in for Wildfly.  You can close this issue.  Thanks.

[2019-11-08 01:51] SevaSafris commented on #208
Great, thanks for the update.

[2019-11-08 01:51] #208 closed

[2019-11-08 02:36] malafeev opened #211 "Implement integration tests for Akka Http Server"

[2019-11-08 02:37] malafeev opened #212 "Implement AgentRule(s) for Play WS"

[2019-11-11 03:43] code98 opened #214 "After the successful Dynamic Attach, how to shutdown this agent?"
After the successful Dynamic Attach, how to shutdown this agent?

I want to remove trace monitoring.

thanks

[2019-11-11 04:07] SevaSafris commented on #214
Hi @code98, it is not possible to disable the agent once it has instrumented the runtime. The bytecode manipulations performed by the agent persist for the remaining runtime duration of the target VM.

[2019-11-11 06:13] code98 commented on #214
Is there any way to disable it?

[2019-11-11 06:17] code98 commented on #214
The arthas project uses the reset command to clear the bytecode. Can the special agent develop this command?

https://github.com/alibaba/arthas

[2019-11-11 06:20] SevaSafris commented on #214
There is no way to undo the [redefinition](https://docs.oracle.com/javase/7/docs/api/java/lang/instrument/Instrumentation.html#redefineClasses(java.lang.instrument.ClassDefinition...)) or [retransformation](https://docs.oracle.com/javase/7/docs/api/java/lang/instrument/Instrumentation.html#redefineClasses(java.lang.instrument.ClassDefinition...)) operations once they have completed. There is no me

[2019-11-11 06:32] SevaSafris commented on #214
The SpecialAgent can, however, support the functionality to "logically"  disable its plugins. This would effectively leave the bytecode as-is (i.e. redefined and retransformed), but would command all plugins to return immediately once invoked. This functionality would not be 100% equivalent to "rolling back" the bytecode to the previously un-redefined and un-retransformed state, but it would resem

[2019-11-11 06:43] code98 commented on #214
Ok, thank you!
We want to develop a control program, dynamically update the SpecialAgent version, stop the old version of attach, restart a new SpecialAgent, and then attach

[2019-11-11 07:17] SevaSafris commented on #214
Thought I have a very limited understanding of the scope of your control program, I don't believe it would be possible to achieve such functionality of "unloading" and "reloading" SpecialAgent. If the SpecialAgent is attached to JVM which SpecialAgent has already attached before, it will simply redo the same redefinition and retransformation modifications as the first time. You can try this yourse

[2019-11-11 09:24] SevaSafris commented on #198
Hi @montyz, I have been wracking my brain trying to figure out the cause of the exception you're seeing. Here is where I'm at:
1. The `StackOverflowException` is citing line numbers that don't match the source code.

   _at io.opentracing.contrib.web.servlet.filter.TracingFilter.doFilter([TracingFilter.java:148](https://github.com/opentracing-contrib/java-specialagent/blob/e5df4f890e29e413e972915b

[2019-11-11 09:51] hotdust commented on #199
@SevaSafris I understood specialagent mechanism. I wrote a bytebuddy agent which can intercept all method and get args. (not convert bytebuddy agent code to special agent rule yet)

I have two questions：

1. After adding specialagent, project outputs following logs. How come logs are outputted ?
(the logs are not outputted, if do not use specialagent.)
[code]
command:

2, skywalking provides @Trac

[2019-11-11 10:26] SevaSafris commented on #165
Hi @ledor473, I have started work on this issue, and have updated the code for the Spring Boot initialization hook. I've removed the `Thread` from the implementation altogether. Please let me know if my changes have not fix this issue.

[2019-11-11 11:42] SevaSafris commented on #199
Hi @hotdust, I don't understand your first question.

Regarding your second question: There is no existing mechanism to provide this functionality. If you'd like, you can write an Instrumentation Plugin that implements this functionality.

[2019-11-11 11:46] SevaSafris opened #215 "`JedisTest` is unstable"
The Travis build fails on occasion due to this error. Since it takes so long to restart a Travis build each time, it makes sense to implement some kind of retry policy within the test to allow it to try to start the server again until succeeded.

[code]

[2019-11-12 07:55] code98 commented on #214
OK, thank you very much for your help.

[2019-11-12 07:55] #214 closed

[2019-11-12 20:33] montyz commented on #198
OK, I followed your advice and also upgraded to wildfly 18. Here is the latest. The java.class.path just has:

[code]
 But the exception is different now. If you need me to grab anything from `/opt/bitnami/wildfly/jboss-modules.jar` just let me know.
[s.log](https://github.com/opentracing-contrib/java-specialagent/files/3838103/s.log)

[k.log.gz](https://github.com/opentracing-contrib/java-special

[2019-11-13 02:40] #199 closed

[2019-11-13 06:53] code98 opened #220 "We want to use the special agent in the production environment. Is the stability stable now?"
We want to use the special agent in the production environment. Is the stability stable now?

About 1 million requests per day.

[2019-11-13 09:19] SevaSafris commented on #220
Hi @code98, for a list of supported instrumentation plugins, please refer to [this table](https://github.com/opentracing-contrib/java-specialagent/#61-instrumentation-plugins).  The specified versions of 3rd-party libraries of each plugin is tested [here](https://travis-ci.org/opentracing-contrib/java-specialagent/). As far as "stability" is concerned, the [`AgentRunner` tests](https://github.com/

[2019-11-13 09:22] SevaSafris commented on #198
Hi @montyz, the intention of the `System.getProperty("java.class.path")` was to "understand what version of Servlet API is on your classpath". Could provide the manifest of `/opt/bitnami/wildfly/jboss-modules.jar`?

[2019-11-13 13:13] code98 commented on #220
Ok, then we will test this program in a small scope. After that, the average daily request will reach 100 million.

[2019-11-13 17:29] montyz commented on #198
Here's what I've found. Supposedly it's servlet version 4.0, which `undertow-servlet-2.0.26.Final.jar` implements, and which is what we're using.
[code]

[2019-11-13 20:55] Mrfoofums opened #222 "Spring Boot 2.0.9 startup time with static attached is 6 minutes"
Filing this issue to have the fix that addresses startup time for Spring Boot 2.1.X apps startup into Spring 2.0.X applications

[2019-11-14 00:56] SevaSafris commented on #165
FYI: I have changed the name of the system property for its activation. Before, the property was: `-Dsa.spring`. Now, the property is: `-Dsa.init.defer`. This has been [documented here](https://github.com/opentracing-contrib/java-specialagent/#223-static-deferred-attach).

Also, please note, Static Deferred Attach currently only supports Spring Boot (1.0.0.RELEASE to LATEST), and does not support

[2019-11-14 01:00] SevaSafris opened #223 "Release SpecialAgent v1.5.1"
The v1.5.1 release includes the following updates:

* New [instrumentation plugins](https://github.com/opentracing-contrib/java-specialagent/#supported-instrumentation-plugins): Akka Http Server, OkHttp 4, Play Framework (server and client).
* Include external instrumentation plugins (those which are not included in the SpecialAgent, such as proprietary plugins).
* Fix to `ClassLoaderAgentRule` bu

[2019-11-14 05:50] sattishv opened #225 "Special Agent termination when we do a static attach using -javaagent option"
Hi Team,

We got the below listed error while attaching the agent using -javaagent option.

Launching a JVM...
INFO   | jvm 1    | 2019/11/13 20:33:02 | Terminating SpecialAgent due to:
INFO   | jvm 1    | 2019/11/13 20:33:02 | java.lang.IllegalStateException: Expected to find PluginManifest for file: /applicationpackages/manifests/active/sampleserv/cronus/scripts/app/temp/opentracing-specialagent

[2019-11-14 06:48] #220 closed

[2019-11-14 07:59] SevaSafris commented on #225
Hi @sattishv, could you provide more information about your use-case? Could you provide a detailed log with `-Dsa.log.level=FINER`?

[2019-11-14 08:10] #215 closed

[2019-11-14 08:10] #212 closed

[2019-11-14 08:10] #211 closed

[2019-11-14 08:16] SevaSafris commented on #198
Hi @montyz,

Thank you for the info. Seeing only mentions of Servlet API 4 and 3.1 leads me to believe that there is in fact a bug in SpecialAgent regarding a determination of the API version. If you could, please provide a `-Dsa.log.level=FINEST` log of the entire lifecycle from launch to error. This log will contain statements that indicate how `TracingFilter` is installed into the runtime, and

[2019-11-14 09:44] SevaSafris opened #227 "Implement plugin for Play Client"

[2019-11-14 10:02] malafeev commented on #227
Duplicate #212

[2019-11-14 13:28] #227 closed

[2019-11-14 13:28] malafeev opened #228 "Transitioning the sa-apps to SA codebase"
- [x] AsyncHttpClient
- [x] Feign
- [x] Grizzly Http Client
- [x] Grizzly Http Server
- [x] gRPC
- [ ] Hazelcast
- [ ] HttpClient
- [ ] JAX-RS
- [ ] Kafka
- [ ] Lettuce
- [ ] RabbitMQ
- [ ] Reactor
- [ ] Redisson
- [ ] Spring JMS
- [ ] Spring Kafka
- [ ] Spring RabbitMQ
- [ ] Spring Messaging
- [ ] Spring Scheduling
- [ ] Spring Web
- [ ] Spring WebMVC
- [ ] Spring WebFlux
- [ ] Spring Websocket
-

[2019-11-14 14:10] sattishv commented on #225
Hi Safris,

Thanks for the response. I changed the log level to finer here is the output we got. To me its searching for a manifest which is not available in temp folder . I suspect unzip jar didnt complete properly. Could be a permission issue. Please review and its imperative for us.

Launching a JVM...
INFO   | jvm 1    | 2019/11/14 06:05:33 | Instrumentation Plugins are enabled by default
INFO

[2019-11-14 15:47] sattishv commented on #225
Hi Safris,

Do we have a workaround for us to proceed since i need to give a demo at the earliest. workaround like hard code the filename somewhere

Sattish.

[2019-11-14 15:50] SevaSafris commented on #225
Hi @sattishv, it seems there's something special about your environment that results in the `fileToPluginManifest` map to contain relative `File` objects, while the `.get()` call is made with an absolute `File` object. Though I cannot reproduce this error, I have pushed a change that attempts to fix this. Please [download the latest SNAPSHOT build](https://github.com/opentracing-contrib/java-speci

[2019-11-14 16:02] malafeev commented on #228
left:
- [ ] Hazelcast
- [ ] HttpClient
- [ ] JAX-RS
- [ ] Kafka
- [ ] Lettuce
- [ ] RabbitMQ
- [ ] Reactor
- [ ] Redisson
- [ ] Spring JMS
- [ ] Spring Kafka
- [ ] Spring RabbitMQ
- [ ] Spring Messaging
- [ ] Spring Scheduling
- [ ] Spring Web
- [ ] Spring WebMVC
- [ ] Spring WebFlux
- [ ] Spring Websocket
- [ ] Spymemcached
- [ ] Thrift
- [ ] Zuul

[2019-11-14 16:02] #228 closed

[2019-11-14 16:19] sattishv commented on #225
HI Safris,

Thanks for the quick fix will try and update you

Sattish.

[2019-11-14 19:09] montyz commented on #198
I think I had the log level already at FINEST. I ran it again to capture the full logs.
[d.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3848230/d.log.gz)
[server.log](https://github.com/opentracing-contrib/java-specialagent/files/3848231/server.log)

[2019-11-15 02:55] code98 commented on #223
Hello, what features have been updated?

[2019-11-15 09:22] sattishv commented on #225
Hi,

With the new agent JVM got exited.

Downloaded the new agent version
opentracing-specialagent-1.5.1-20191114.154241-22.jar
<https://oss.sonatype.org/content/repositories/snapshots/io/opentracing/contrib/specialagent/opentracing-specialagent/1.5.1-SNAPSHOT/opentracing-specialagent-1.5.1-20191114.154241-22.jar>
and
changed the file name to opentracing-specialagent-1.5.1-SNAPSHOT.jar.
Deployed t

[2019-11-15 10:32] SevaSafris commented on #223
Hi @code98, I have updated the description.

[2019-11-15 10:45] #223 closed

[2019-11-15 10:53] #222 closed

[2019-11-15 11:54] SevaSafris opened #229 "Support OTel Tracer via SDK Bridge"
OTel SDK comes with an [OpenTracing Bridge](https://github.com/open-telemetry/opentelemetry-java/).
[Building a Bridge: Connecting OpenTracing with OpenTelemetry](https://lightstep.com/blog/building-a-bridge-connecting-opentracing-with-opentelemetry/).

[2019-11-15 12:44] malafeev opened #230 "Implement integration tests for Hazelcast"

[2019-11-15 15:24] SevaSafris commented on #198
Hi @montyz, I am not seeing the information I'm expecting in the logs you provided. There is no mention of the TracingFilter. Also, there is no exception.

[2019-11-15 15:27] #230 closed

[2019-11-15 22:10] montyz commented on #198
Oh sorry, I didn't look again. Because the process had terminated itself I assumed there was an exception. The following has the exception from before with the tracing filter. However, I don't see anything that mentions TracingFilter outside of the stack trace.

[server.log.gz](https://github.com/opentracing-contrib/java-specialagent/files/3853353/server.log.gz)
[std.log.gz](https://github.com/ope

[2019-11-16 09:12] SevaSafris opened #232 "`AkkaTest` is unstable"
[code]

[2019-11-18 07:52] SevaSafris commented on #198
Hi @montyz,

I have reviewed the logs you provided, and here are my findings regarding the exception:

[code]

1) `io.opentracing.contrib.web.servlet.filter.TracingFilter` and `io.opentracing.contrib.web.servlet.filter.ServletFilterSpanDecorator` are in the same package, and are in the same JAR. The runtime is getting to `io.opentracing.contrib.web.servlet.filter.TracingFilter`, but it is not gett

[2019-11-18 07:59] malafeev opened #233 "Implement integration tests for Apache HttpClient"

[2019-11-18 08:43] malafeev opened #235 "Implement integration tests for JAX-RS Client"

[2019-11-18 09:21] SevaSafris opened #237 "`GrpcTest` is unstable"
[code]

[2019-11-18 09:56] sattishv commented on #225
Hi Safris,

Facing issues in building the jar

[INFO]
[INFO] <<< agentrule-maven-plugin:1.5.2-SNAPSHOT:verify (default) < :verify @ opentracing-specialagent <<<
[INFO]
[INFO] --- agentrule-maven-plugin:1.5.2-SNAPSHOT:verify (default) @ opentracing-specialagent ---
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ---------------------------

[2019-11-18 09:57] SevaSafris commented on #225
Hi @sattishv, I have added debug statements to the current SNAPSHOT build of the SpecialAgent. Please [download the latest SNAPSHOT](https://github.com/opentracing-contrib/java-specialagent/#2112-development) and run your test again with `-Dsa.log.level=FINEST` on the command line. Please provide me the log output.

[2019-11-18 12:53] sattishv commented on #225
Hi,

Got this error while attaching opentracing-specialagent-1.5.2-SNAPSHOT.jar to the -javaagent option.

"INFO   | jvm 1    | 2019/11/18 04:48:04 | Caused by: java.lang.IllegalStateException: Name of -javaagent JAR, which is currently opentracing-specialagent-1.5.2-SNAPSHOT.jar, must be: opentracing-specialagent-1.5.1-SNAPSHOT.jar"

Snippets from wrapper.log

Java Service Wrapper Community Editi

[2019-11-18 13:17] SevaSafris commented on #225
Hi @sattishv, the text [here](https://github.com/opentracing-contrib/java-specialagent/#2112-development) reads:

**Note**: Sometimes the web service call to retrieve the latest SNAPSHOT build fails to deliver the correct download. In order to work around this issue, please consider using the following command:
[code]

[2019-11-18 14:41] #235 closed

[2019-11-18 14:41] #233 closed

[2019-11-18 15:34] randallt opened #239 "elasticsearch-client-rest plugin causes authorization failed error"
When instrumenting an application that uses Java Elasticsearch High-level REST client, the specialagent elasticsearch-client-rest plugin causes the request to error out with a 401 unauthorized response. It appears that the plugin is somehow preventing the authentication/authorization mechanism from functioning correctly. When I explicitly disable just the "elasticsearch:client-rest" plugin, then i

[2019-11-18 15:34] randallt opened #240 "elasticsearch-client-rest plugin causes authorization failed error"
When instrumenting an application that uses Java Elasticsearch High-level REST client, the specialagent elasticsearch-client-rest plugin causes the request to error out with a 401 unauthorized response. It appears that the plugin is somehow preventing the authentication/authorization mechanism from functioning correctly. When I explicitly disable just the "elasticsearch:client-rest" plugin, then i

[2019-11-18 15:39] randallt commented on #239
Hmm, looks like the bulk of logic is in

https://github.com/opentracing-contrib/java-elasticsearch-client/tree/master/opentracing-elasticsearch-client-common

Do you think this should move to that project instead?

[2019-11-18 16:19] malafeev commented on #239
@randallt yes, I think issue should be moved to https://github.com/opentracing-contrib/java-elasticsearch-client
could you open it there and link this issue to it?

[2019-11-18 17:26] sattishv commented on #225
Hi,

Thanks for the command. I could download the jar now. Have been able to attach the jar to the java processs but still the same error. Have attached the complete log for your review. Please check

STATUS | wrapper  | 2019/11/18 09:18:16 | TERM trapped.  Shutting down.
STATUS | wrapper  | 2019/11/18 09:18:17 | <-- Wrapper Stopped
STATUS | wrapper  | 2019/11/18 09:18:20 | --> Wrapper Started as

[2019-11-19 09:32] malafeev opened #242 "upgrade opentracing-grpc to latest 0.2.x"

[2019-11-19 12:17] malafeev commented on #240
@randallt PR merged, could you verify fix with latest snapshot?

[2019-11-19 12:51] malafeev opened #244 "Implement integration tests for Kafka Client"

[2019-11-19 14:08] randallt commented on #240
Verified by code inspection.

[2019-11-19 14:08] #240 closed

[2019-11-20 02:53] code98 opened #246 "After the agent is successfully started, can the special agent dynamically add AgentBuilder?"
I want to develop a plugin for a special agent.

For example: I want to intercept an A method. When the A method exits, use Bytebuddy's AgentBuilder to intercept another B method.

![image](https://user-images.githubusercontent.com/10418235/69205100-f1964580-0b83-11ea-83cc-ae09ab480514.png)

Is this scheme feasible?

[2019-11-20 04:08] sattishv commented on #225
Hi Safris,

Have any update on this. We are blocked could you please help us in resolving the above issue.
Do we any workaround to proceed further.

Sattish.

[2019-11-20 04:49] SevaSafris commented on #225
Hi @sattishv,

The log you provided does not include `-Dsa.log.level=FINER`. Please provide a log with `-Dsa.log.level=FINER`, and post again.

[2019-11-20 06:40] SevaSafris commented on #246
Hi @code98, the SpecialAgent API for plugins/rules allows the full scope of functionality offered by ButeBuddy. I believe what you are asking for is: "Can I do this with ByteBuddy?" If the answer to your question is "yes", then you can do this for a SpecialAgent plugin/rule. Please refer to the [ByteBuddy docs](https://bytebuddy.net/) for help with ByteBuddy.

[2019-11-20 06:51] code98 commented on #246
Thank you very much for your help

[2019-11-20 06:51] #246 closed

[2019-11-20 10:53] #242 closed

[2019-11-20 10:54] #244 closed

[2019-11-20 17:11] sattishv commented on #225
Hi Safris,

Thanks for the response. I changed the log level from Finest to Finer rebooted the server and here is the std output

STATUS | wrapper  | 2019/11/20 09:03:48 | TERM trapped.  Shutting down.
STATUS | wrapper  | 2019/11/20 09:03:50 | <-- Wrapper Stopped
STATUS | wrapper  | 2019/11/20 09:03:53 | --> Wrapper Started as Daemon
STATUS | wrapper  | 2019/11/20 09:03:53 | Java Service Wrapper C

[2019-11-21 01:28] #237 closed

[2019-11-21 01:56] SevaSafris commented on #225
Hi @sattishv,

The logs are still missing the output I expect from `-Dsa.log.level=FINEST`. Are you sure you are setting this property? Here is an example output from my execution:

[code]

[2019-11-21 04:49] sattishv commented on #225
Hi,

Have attached the snippet from ps -ef | grep java showing the log level been set to FINER

-Djavax.xml.accessExternalStylesheet=all -Djavax.xml.accessExternalSchema=all -XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints -XX:+PreserveFramePointer -Xmn800m -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -javaagent:/opt/SpecialAgent/opentracing-specialagent-1.5.2-SNAPSHOT.jar -Dsa.trac

[2019-11-21 05:05] SevaSafris commented on #225
Hi @sattishv, I have pushed changes that attempt to fix your issue. Please let me know if [this build](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/614887434) works for you. If not, please run your test again, this time providing: `-Dsa.log.level=FINEST`.

[2019-11-21 10:45] sattishv commented on #225
Thanks for the fix. Downloaded and attached the agent statically. Set the log level as -Dsa.log.level=FINEST

Here is the output from stdout. Please review and let us know whether the agent has started successfully.

STATUS | wrapper  | 2019/11/21 02:05:00 | Java Service Wrapper Community Edition 64-bit 3.5.26
STATUS | wrapper  | 2019/11/21 02:05:00 |   Copyright (C) 1999-2014 Tanuki Software, Ltd

[2019-11-21 15:00] malafeev opened #247 "Implement integration tests for Lettuce"

[2019-11-22 06:43] #247 closed

[2019-11-22 06:52] SevaSafris commented on #225
Hi @sattishv, I have pushed more changes that attempt to fix your issue. Please let me know if [this build](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/615415068) works for you. Again, please provide your logs with: `-Dsa.log.level=FINEST`.

[2019-11-22 07:01] sattishv commented on #225
Sure will test and update you. Thanks for your instant support .Apreciate it

[2019-11-22 13:47] malafeev opened #249 "Implement integration tests for RabbitMQ Client"

[2019-11-22 14:20] malafeev opened #251 "Upgrade opentracing-elasticsearch to 0.1.6"

[2019-11-22 16:37] SevaSafris commented on #229
Implemented [here](https://github.com/SevaSafris/java-opentracing-opentelemetry-bridge).

[2019-11-23 17:43] jam01 opened #253 "Mule 4 isolated classloader structure is unsupported"
Mule 4 makes use of an HTTP Service to provide HTTP functionality. The default implementation uses [Grizzly Async HTTP Client](https://github.com/mulesoft/mule-http-service/blob/1.4.7/src/main/java/org/mule/service/http/impl/service/client/GrizzlyHttpClient.java). When I directly run some of the [service's tests](https://github.com/mulesoft/mule-http-service/blob/1.4.7/src/test/java/org/mule/servi

[2019-11-25 07:32] sattishv commented on #225
Hi Safris,

It worked . I could attach the agent successfully. But i am not able to get the full trace of my request. Is their any config needed to get the full trace.

Thanks
Sattish.
![Screen Shot 2019-11-25 at 12 54 30 PM](https://user-images.githubusercontent.com/7449241/69520908-cb0d4b80-0f83-11ea-968c-580f25f54f92.png)

[2019-11-25 09:14] SevaSafris commented on #225
Hi @sattishv, I’m glad to hear the recent changes have fixed your issue. Please close this issue, and open another one if you are having some other issue with SpecialAgent.

[2019-11-25 09:16] sattishv commented on #225
Sure it makes sense . Will close the issue and open another one.

Sattish.

On Mon, Nov 25, 2019 at 2:44 PM Seva Safris <notifications@github.com>
wrote:

--
with regards,

Sattish
9940080070

[2019-11-25 09:16] #225 closed

[2019-11-25 09:17] sattishv commented on #225
The new agent library worked we were able to attach the special agent to our JVM

[2019-11-25 09:33] sattishv opened #254 "Not able to get the full trace for our application."
Hi team,

We were able to attach the special agent to our JVM and traces are recorded. But the traces aren't complete we couldn't see the full trace.Not sure are we missing any configuration.
Have attached the screenshot and logs for review

Thanks
Sattish.
[wrapper.log](https://github.com/opentracing-contrib/java-specialagent/files/3885786/wrapper.log)
[wrapper.1.log](https://github.com/opentraci

[2019-11-25 13:31] malafeev opened #255 "Implement integration tests for Reactor"

[2019-11-25 13:54] malafeev opened #257 "Implement integration tests for Jedis"

[2019-11-26 00:01] #255 closed

[2019-11-26 02:10] devinbost opened #259 "Request for support of Apache Pulsar Functions"
As per the comment here:
https://medium.com/opentracing/automatic-tracing-with-java-specialagent-ac1874f9e8e8
that states:

we'd like to see Apache Pulsar Functions instrumented and integrated with SpecialAgent.
Apache Skywalking already offers support for Pulsar Consumers/Producers, so we don't need instrumentation for Pulsar Consumers/Producers, but we do need instrumentation for Pulsar Function

[2019-11-26 09:21] SevaSafris commented on #254
Hi @sattishv,

I am not clear on what your issue is. I do not know the context of your application, and also do not know what "traces" you are expecting. The paragraph titled [What is SpecialAgent](https://github.com/opentracing-contrib/java-specialagent/#what-is-specialagent) says:

You "not seeing traces" is outside the scope of SpecialAgent. If you are "not seeing traces" for a specific 3rd-par

[2019-11-26 09:22] #254 closed

[2019-11-26 09:36] SevaSafris commented on #259
Hi @devinbost, thank you for your message. I have presented your request to my team, and neither one of us is familiar with Apache Pulsar. You're the first person to request this 3rd-party library, so it is unfortunately not high on our list of priorities.

If you would like support for this 3rd-party library added to SpecialAgent, you are welcome to implement an Instrumentation Plugin yourself. T

[2019-11-26 12:22] #257 closed

[2019-11-26 12:22] #251 closed

[2019-11-26 12:23] #249 closed

[2019-11-26 13:15] malafeev opened #260 "Implement integration tests for Redisson"

[2019-11-26 13:42] SevaSafris opened #262 "`KafkaClientITest` is unstable"
[code]

[2019-11-26 14:21] #232 closed

[2019-11-26 14:30] malafeev opened #263 "Implement integration tests for Thrift"

[2019-11-26 15:48] sattishv commented on #254
Hi Safris,

Our service calls 6 downstream services out of 6 services 2 are accessed asynchronous . In the trace captured we dont see the time spent in getting the response from downstream services. I could see only one trace and moreover we didnt see which method took most of the total response time.Do we need configure the agent to capture the calls spanning downstream services.

Sattish.

[2019-11-27 15:54] malafeev opened #266 "Implement integration tests for Zuul"

[2019-11-28 01:49] SevaSafris opened #267 "Implement Formal API for Static Deferred Attach"

[2019-11-28 13:29] malafeev opened #268 "Update opentracing-jdbc to 0.2.3"

[2019-11-29 02:28] #268 closed

[2019-11-29 12:44] #260 closed

[2019-11-29 12:44] #263 closed

[2019-11-29 14:22] malafeev opened #270 "Implement integration tests for Spring Web"

[2019-11-29 18:15] #270 closed

[2019-11-30 04:31] SevaSafris opened #272 "Release v1.5.2"
The v1.5.2 release includes the following updates:
* Integrate [OpenTelemetry Bridge Tracer Plugin](https://github.com/opentracing-contrib/java-opentelemetry-bridge) into SpecialAgent (#229)
* Implement Formal API for Static Deferred Attach (#267)
* Implement integration tests for:
  1. Hazelcast (#230)
  1. JAX-RS Client (#235)
  1. Apache HttpClient (#233)
  1. Kafka Client (#244)
  1. Lettuce (

[2019-11-30 06:16] #272 closed

[2019-11-30 06:20] #267 closed

[2019-11-30 06:20] #229 closed

[2019-11-30 06:21] SevaSafris commented on #165
The API for Static Deferred Attach has been formalized in [this issue](https://github.com/opentracing-contrib/java-specialagent/issues/267).

[2019-11-30 06:21] #165 closed

[2019-11-30 08:41] SevaSafris commented on #262
`KafkaClientITest` is unstable due to: **No output has been received in the last 10m0s**

[code]

[2019-12-01 04:04] SevaSafris opened #273 "Upgrade Apache Camel"
[code]

[2019-12-02 15:06] malafeev opened #275 "Implement integration tests for Spring WebFlux"

[2019-12-03 03:59] #275 closed

[2019-12-03 04:00] #262 closed

[2019-12-03 04:04] SevaSafris opened #277 "Reduce source & target versions for all plugins"
Many instrumentation plugins (and tests) only require jvm class version 1.7, but are configured to be built for jvm class version 1.8. If the plugins are built for 1.8, they cannot be run in 1.7 runtimes.

[2019-12-03 07:00] malafeev opened #278 "Implement integration tests for Spring WebMvc"

[2019-12-03 08:58] #277 closed

[2019-12-03 14:29] malafeev opened #281 "Implement integration tests for Spring Scheduling"

[2019-12-04 04:02] #278 closed

[2019-12-04 04:03] #281 closed

[2019-12-04 08:44] safris commented on #253
Hi @jam01, I cloned the repo you provided, and the `MuleITest` passes successfully. Can you edit your test to showcase the problem so that it causes a test failure? Otherwise, I don't know what I'm looking for, and don't know what to assert.

[2019-12-04 13:59] malafeev opened #284 "Implement integration tests for Spring Kafka"

[2019-12-04 14:06] jam01 commented on #253
Ah of course. I was just manually checking the logs to see if ahc had been instrumented, but I can add assertions for spans...

[2019-12-04 18:49] jam01 commented on #253
I've updated the repo.

1. I copied a test from the HttpService repo and added an assertion that looks for the AHC rule span. That passes.
2. I added the same assertion to the existing MuleITest. That fails.

Again, I run these manually adding -javaagent to the IntelliJ run vm args. Not sure if there's a way to make the AgentRunner work in this context to make that unnecessary.

[2019-12-05 01:34] #284 closed

[2019-12-05 02:43] safris opened #286 "GPG import failure"

[2019-12-05 02:43] #286 closed

[2019-12-05 09:08] code98 opened #287 "I want to develop a monitoring plugin for methods"
Configure the method signature in the environment variable and inject trace information into the specified method.
E.g:
-Dsa.config.instrumentation.plugin.method = com.demo.HomeController#homePage; com.demo.HomeController#db

Use ";" to split multiple classes,
Use "#" to split multiple classes and methods,

Then add trace information before and after these methods are executed.

The code has been

[2019-12-05 12:35] maisi opened #288 "Dynamic Attach fails to start- java.lang.ExceptionInInitializerError"
Hello,

I'm trying to attach the specialagent to my application dynamically, the command is:

`java -Xbootclasspath/a:$JAVA_HOME/lib/tools.jar -jar opentracing-specialagent-1.5.2.jar 20984`

it fails to start with the error:

[code]

I'm using Windows 10 and Java 1.8.0_231-b11.
Powershell or commandline made no difference.

Any ideas how to solve this?

[2019-12-05 13:09] malafeev opened #289 "Implement integration tests for Spring RabbitMQ"

[2019-12-05 15:44] #266 closed

[2019-12-05 16:24] safris commented on #253
Hi @jam01, I've looked into this issue, and here is my feedback:
1) You cannot import `io.opentracing.contrib.specialagent:opentracing-specialagent-util` or `io.opentracing.contrib.specialagent:opentracing-specialagent` in your [pom.xml](https://github.com/jam01/java-specialagent-test-mule-4.2.2/blob/master/pom.xml#L147-L158). Doing so will cause unexpected issues, because SpecialAgent is meant to

[2019-12-05 16:57] jam01 commented on #253
Thanks @safris
1. Yes! This must be a copy/paste oversight when bringing in the ot-mock and ot-util artifacts.
2. This might be a case of "it works on my computer"

![image](https://user-images.githubusercontent.com/10093076/70256184-a5373200-174d-11ea-9b1c-f9b6d969f63f.png)

I'm not sure how I can show you this any other way... screen sharing?? Also, when running the HttpServiceTest _there are_ s

[2019-12-05 17:09] jam01 commented on #253
[code]

[2019-12-05 18:25] safris commented on #253
Hi @jam01, I've looked deeper into this. From my investigation so far, everything is working as it should:
1) AHC is passing fingerprint match: `Allowing instrumentation with "grizzly-ahc" due to "fingerprint.bin match"`.
2) AHC Intercept is happening: `-------> Intercept from: public com.ning.http.client.AsyncHttpClientConfig$Builder()`.
3) `TracingRequestFilter` is being added as a request filte

[2019-12-05 18:32] safris commented on #288
Hi @maisi, thank you for bringing our attention to this issue. I have committed a change to attempts to fix this problem. When [this build](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/621215915) completes, please [download the development build](https://github.com/opentracing-contrib/java-specialagent/#2112-development) and try your test again.

[2019-12-05 18:36] safris commented on #287
Hi @code98, thank you for your work on this plugin. If your code is ready, I can look at it and consider it for inclusion as an internal plugin in the SpecialAgent. Do you have a repo for me to clone?

[2019-12-05 18:47] jam01 commented on #253
Right, sorry. So there's two tests, one that tests the HTTPService (more or less copied from the Mulesoft repo) which does not involve any custom classloading. The other is a MuleFunctionalTest which makes use of the HTTPService but that does setup the custom classloading structure.

The first test passes, and the second one fails. So with these two tests I'm trying to showcase my hypothesis that

[2019-12-06 02:47] code98 commented on #287
OK, I am ready to submit the code. Thank you

[2019-12-06 02:54] jam01 commented on #253
Ah man ok... So turns out that the MuleFunctionalTest issue was to do with JDK 1.8 vs 11. If I use 1.8 then the ahc rule is linked correctly and the spans reported fine, tested that with a local Jaeger instance and it worked.

Unfortunately it is still not working with a standalone version of the mule server. There's no docs about launching an instance directly from java so I've yet to figure out

[2019-12-06 05:03] #289 closed

[2019-12-06 12:50] malafeev opened #291 "Implement integration tests for Spring JMS"

[2019-12-08 20:30] haf-tech opened #294 "SpecialAgent for WAS - No Output/Logs"
I am trying to use the SpecialAgent with an WebSphere Application Server instance.
I have the following script to start the SpecialAgent and use dynamic attachment.

[code]

But I do not see any error messages and the log file "b.log" is empty.
I execute the SpecialAgent with the same user, as the target VM is running.

In case if I pass a "wrong" PID I see a corresponding error message.

So, how

[2019-12-09 02:22] #291 closed

[2019-12-09 02:24] malafeev opened #295 "Implement integration tests for Spring Messaging"

[2019-12-09 03:38] malafeev opened #297 "Implement integration tests for Spring Websocket"

[2019-12-09 11:31] safris commented on #294
Hi @haf-tech, thank you for bringing our attention to this issue. I have committed a change to attempts to fix this problem. When [this build](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/622612405) completes, please [download the development build](https://github.com/opentracing-contrib/java-specialagent/#2112-development) and try your test again.

[2019-12-09 12:22] #295 closed

[2019-12-09 14:37] haf-tech commented on #294
tested with
`opentracing-specialagent-1.5.3-20191209.130556-16.jar | Mon Dec 09 13:08:54 UTC 2019 | 21616604`
with the same result.
Log file is still empty. No other output.

[2019-12-09 14:41] safris commented on #294
Hi @haf-tech, I unfortunately cannot reproduce your issue. When I specify the `-Dsa.log.file=b.log`, I see content in the log file. Could you provide an example app that reproduces this issue?

[2019-12-10 12:33] malafeev opened #299 "Missing plugins"
Compare with DD:

- [x] couchbase
- [x] google-http-client
- [x] http-url-connection
- [x] netty
- [x] ratpack - uses netty internally. Should we first add netty?
- [x] sparkjava - servlet api is already instrumented
- [x] twilio - looks like it uses apache httpclient which is already covered.

[2019-12-10 13:37] #297 closed

[2019-12-10 13:50] malafeev opened #300 "Implement AgentRule(s) for HttpUrlConnection"

[2019-12-10 14:06] safris commented on #294
Hi @haf-tech, I thought deeper about this issue, and believe what's happening is due to a difference in the current working directory of where your app is launched vs where SpecialAgent is launched. I didn't think of this before, and realized there is definitely this issue -- you're providing the path of the file to SpecialAgent, which is being launched in a different directory than the app, but i

[2019-12-10 21:02] haf-tech commented on #294
Thanks @safris
 I tested `opentracing-specialagent-1.5.3-20191209.144139-17.jar`; similar behavior. I tried a relative path (a.log) and an absolute one (/tmp/a.log). Log file is still empty.
So the log file will be created, but without any content

would you say this is different in static attachment?

[2019-12-10 21:26] haf-tech commented on #294
So, I tried static attachment, with similar props:
`-javaagent:/opt/agent/opentracing-specialagent-1.5.3-SNAPSHOT.jar -Dsa.log.level=FINEST -Dsa.log.events=COMPLETE -Dsa.log.file=otagent1.log -Dsa.instrumentation.plugin.verbose=true -Dsa.fingerprint.skip=true`

Result in the log file is now
[code]

the current code does not match the line L196. Maybe a property is missing or wrong?

[2019-12-11 04:50] safris opened #301 "`LettuceITest` is unstable"
[code]

[2019-12-11 12:36] safris commented on #294
Hi @haf-tech, your use of the "verbose" property is incorrect. Please refer to the directions [here](https://github.com/opentracing-contrib/java-specialagent/#32-properties) for proper usage. Nevertheless, incorrect use of a property should not result in an exception. I will fix this.

[2019-12-11 14:05] safris commented on #294
Hi @haf-tech, I have implemented changes that attempt to fix the logging issue you are experiencing. When [this build](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/623656215) completes, please [download the development build](https://github.com/opentracing-contrib/java-specialagent/#2112-development) and try your test again.

[2019-12-12 02:56] safris opened #303 "Release v1.5.3"
The v1.5.3 release includes the following updates:
* Reduce source & target versions for all plugins (#277)
* Fix to startup failure with Dynamic Attach on Windows (#288)
* Fix to `-Dsa.log.file` resulting in empty logs (#294)
* Add ability to specify system properties to AgentRunner runtimes (#307)
* Implement instrumentation rule for `HttpUrlConnection` (#300)
* Implement [Static Deferred Attach

[2019-12-12 02:59] safris opened #304 "Implement Static Deferred Attach for SpringWebMVC"

[2019-12-12 03:00] safris opened #305 "Implement integration test for Spymemcached"

[2019-12-12 03:50] #300 closed

[2019-12-12 09:37] #102 closed

[2019-12-12 16:16] safris commented on #294
Hi @haf-tech, we will be releasing SpecialAgent v1.5.3 tomorrow. Can you please confirm whether my latest changes have fixed your issue?

[2019-12-12 16:17] safris commented on #288
Hi @maisi, we will be releasing SpecialAgent v1.5.3 tomorrow. Can you please confirm whether your issue is resolved?

[2019-12-12 16:22] #304 closed

[2019-12-13 02:29] jam01 commented on #253
OK! So this is not ideal but it's something... https://github.com/jam01/mule-4-agents-tests

To run the "tests" run `./test.sh`

There I'm setting up some simple agents with bytebuddy and byteman, without any opentracing stuff. I'm downloading the latest trial version of mule 4 and kicking it off with each agent, one after the other. The agents should both print a message to std out if the rule wa

[2019-12-13 10:41] safris commented on #253
Hi @jam01, thanks for providing this project. You are correct -- there is something different happening here. I was not able to figure this out myself, so I posted [a question requesting advice](https://stackoverflow.com/questions/59318866/bytebuddy-1-10-2-throws-java-lang-illegalstateexception-cannot-resolve-type-de).

[2019-12-13 11:08] safris opened #307 "Add ability to specify system properties to AgentRunner runtimes"

[2019-12-13 11:09] #307 closed

[2019-12-13 13:10] #303 closed

[2019-12-13 13:46] jam01 commented on #253
OK cool. Is what you have on the stack post all you changed to debug?

[2019-12-13 14:08] safris commented on #253
I tried a number of other things, specifically trying to get ByteBuddy to properly resolve types that are on the bootstrap class loader. However, I wasn't able to make any tangible progress. I couldn't find the relevant information on how to do this in ByteBuddy's documentation. I'll submit a PR for your repo with my debug changes.

[2019-12-13 20:15] jam01 commented on #253
So adding the fallback locator here https://github.com/jam01/mule-4-agents-tests/commit/bf348e8cb689ffa137f3c87624b6a34f723234d4 makes it work. Got that from Elastic's solution here https://github.com/elastic/apm-agent-java/pull/855/files

Is this something we'd just add to BootLoaderAgent or would you want to approach it differently?

[2019-12-14 17:45] pc-alves opened #308 "NoClassDefFoundError with Servlet Filter causes application to fail"
Hi!

I am trying to use the specialagent to instrument a legacy application. While some of the plugins are working, the javax servlet one is causing the application to fail.

This is the error being thrown in the application:

[code]

Some details of the project setup:

Maven Version:
- Apache Maven 3.0.5 (r01de14724cdef164cd33c7c8c2fe155faf9602da; 2013-02-19 14:51:28+0100)

Java Version:
- 1.7.0_

[2019-12-15 09:08] haf-tech commented on #294
@safris sorry for the belated response. v1.5.3 looks much better with dynamic attachment

I see some error/exceptions, but I would create therefor a new ticket.
Thanks!

[2019-12-15 09:08] #294 closed

[2019-12-16 11:54] safris commented on #253
Hi @jam01, great work! I will review the changes you made to your repo, and will figure out the best compatible solution for SpecialAgent.

[2019-12-16 12:19] #305 closed

[2019-12-16 15:35] malafeev opened #310 "Implement AgentRule(s) for for Couchbase Client"

[2019-12-16 17:31] safris commented on #308
Hi @pc-alves, thanks for reporting this issue. Are you able to provide a test project that can demonstrate this error?

[2019-12-17 07:39] #310 closed

[2019-12-17 08:09] safris commented on #273
[Issue submitted](https://issues.apache.org/jira/browse/CAMEL-14305) to Apache Camel.

[2019-12-17 09:14] safris opened #312 "Replace Travis CI with GitHub Actions"
GitHub actions [offers more concurrent builds](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#usage-limits) than can be achieved with Travis, which only provides 5.

[2019-12-17 10:00] safris commented on #253
Hi @jam01, I have committed the relevant changes to SpecialAgent. When [this build](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/626106546) completes, please [download the development build](https://github.com/opentracing-contrib/java-specialagent/#2112-development) and try your test again.

[2019-12-17 10:18] safris opened #313 "Support Open-Telemetry API & SDK"

[2019-12-17 14:17] jam01 commented on #253
[code]

So that works!

There are still a bunch of the same type of errors like this one
[code]

I think the root of the issue is that ByteBuddy uses `getResourceAsStream` instead of `findClass` to load classes. I think it's only `findClass` that's plugged into the class loading strategies. This may or may not be an issue later, but for now at least I can see the Grizzly AHC rule is now working.

[2019-12-17 15:19] malafeev opened #314 "Implement AgentRule(s) for Google Http Client"

[2019-12-17 16:30] safris commented on #253
Hey @jam01, that's great that it works! Regarding the similar exceptions that remain:

With the addition of the fallback LocationStrategy, we only provide a way for ByteBuddy to locate classes that belong to the bootstrap class loader. These other classes for which the exceptions persist are not present in the bootstrap class loader. Simply put, you were right to say: ByteBuddy does not support Mu

[2019-12-17 16:30] #253 closed

[2019-12-17 21:09] prydin opened #316 "Possible race condition in "servlet" rule"
I was browsing your code to better understand how to do something similar in another project when I came across what I believe to be a race condition.

https://github.com/opentracing-contrib/java-specialagent/blob/d1fc96b682060d871ad6e5a8cff9440b7aabb884/rule/servlet/src/main/java/io/opentracing/contrib/specialagent/rule/servlet/ServletFilterAgentIntercept.java#L40

The ```ServerFilterAgentInterce

[2019-12-18 08:18] #314 closed

[2019-12-18 08:58] safris opened #317 "Release v1.5.4"
The v1.5.4 release includes the following updates:
* Fix to possible race condition in "servlet" rule (#316)
* Implement AgentRule(s) for Google Http Client (#314)
* Implement AgentRule(s) for Couchbase Client (#310)
* Implement integration test for Spymemcached (#305)

[2019-12-18 12:36] safris commented on #316
Hi @prydin, thank you for bringing this issue to our attention. You are right to say that `servletContextToFilter` should be a `ConcurrentHashMap`. This would fix the volatility issue -- the `ConcurrentHashMap` ensures that all threads see a consistent value for the variable.

Regarding synchronization:
1. The line you reference in your issue is the start of a [double-check pattern](https://github

[2019-12-18 12:44] #316 closed

[2019-12-18 13:26] prydin commented on #316
Thanks for the explanation!

Just one more remark: I don't think double checking is safe for a ```HashMap```. Keep in mind that a write to a ```HashMap``` can cause the underlying array to grow, in which case the whole map is rebuilt and rearranged. Issuing a ```get``` while that is happening can cause very strange behavior.

Ask me how I know! :)

[2019-12-18 14:24] safris commented on #316
Wow, that's interesting. I did not know this. Do you have a link that sheds some more light on this?

[2019-12-18 14:57] prydin commented on #316
Here's a link for example:
https://stackoverflow.com/questions/33350489/double-checked-locking-with-regular-hashmap

If you look at the code for HashMap, you'll see that a put does a lot of unprotected accesses to internal structures that are in no way atomic. If one thread is in the opportunistic non-synched code while another thread is in the synched code trying to add a new value, the first thr

[2019-12-19 08:28] pc-alves commented on #308
@safris Apologies for the delay, and thank you for looking into this.

Right now the confidence that building a test project would be representative of the complexity of the existing (monolithical) application, and all its intricacies, is low. But it's still an option to consider.

However, in the mean time further experiments haven taken place, and here is what we have found out, so far:

- We ad

[2019-12-19 10:16] safris commented on #308
Hi @pc-alves, thanks for the follow-up. There's a lot going on here, so let me itemize my responses:
1. You do not need to add logging to the catch block in [RuleClassLoader.java#64](https://github.com/opentracing-contrib/java-specialagent/blob/master/opentracing-specialagent/src/main/java/io/opentracing/contrib/specialagent/RuleClassLoader.java#L64). The exceptions occurring in this block are com

[2019-12-19 13:59] malafeev opened #318 "Implement AgentRule(s) for Netty"

[2019-12-19 19:39] alvinhom opened #319 "Java servlet is always creating a new span and finish immediately, not linking child spans"
I am running a Jetty application instrumented with Java SpecialAgent.  When using the servlet rules, the application is always creating a new span for a web API and finish it immediately.  The child spans inside the web service call is not being linked to the web service.  E.g.  Svc1 --> DB call,   then SVC1 finishes almost immediately .1ms, and the DB call is not linked with the parent.

I commen

[2019-12-19 21:31] iancs opened #320 "Add support for global tags when reporting using LightStep Java Tracer"
Similar to other tracer options, please support a flag for defining global spans for the LightStep Java Tracer (see withTag).

@carlosalberto has raised his hand for this.

[2019-12-20 01:11] safris commented on #320
Hi @iancs, this issue concerns the LightStep Tracer specifically. The [LightStep Tracer Plugin](https://github.com/lightstep/lightstep-tracer-java/tree/master/lightstep-tracer-jre-bundle) is responsible for consuming options that are specific for the LightStep Tracer, so this issue should be [filed with the LightStep Tracer Plugin](https://github.com/lightstep/lightstep-tracer-java/issues), respec

[2019-12-20 01:14] safris commented on #319
Hi @alvinhom, thank you for raising this issue. Could you provide further details of your use-case? Specifically, what version of Jetty are you running?

[2019-12-20 01:29] alvinhom commented on #319
Looks like Jetty 9.4.12.

[2019-12-20 01:44] safris commented on #319
Hi @alvinhom, thanks for the quick response. Jetty 9.4.12 is a version that is below SpecialAgent's lowest tested version of Jetty, which is 7.6.21. Please see the table of supported plugins [here](https://github.com/opentracing-contrib/java-specialagent/#61-instrumentation-plugins) (scroll down to Servlet -> Jetty).

If you desire support from SpecialAgent for Jetty 9.4.12, please create a test r

[2019-12-20 06:18] safris opened #321 "Implement AgentRule(s) for Neo4J Driver"
If the tests cannot be executed in jdk1.8, make them succeed by default.

[2019-12-20 06:20] safris commented on #259
@malafeev, can you scope out the best approach for instrumenting Apache Pulsar Functions?

[2019-12-20 06:24] malafeev opened #322 "Implement AgentRule(s) for Apache Pulsar Consumers/Producers"
as result of #259 we also need to support Apache Pulsar Consumers/Producers to have complete support of Apache Pulsar

[2019-12-20 06:25] malafeev commented on #259
added #322 to have complete support for Apache Pulsar

[2019-12-20 06:25] safris commented on #287
Hi @code98, FYI: SpecialAgent v1.5.4 will be released in 1 week. I am awaiting your changes on #293.

[2019-12-21 07:18] jam01 opened #323 "Utils support for span, object map"
The old java-agent offered a simple weak hash map of objects and spans. See here https://github.com/opentracing-contrib/java-agent/blob/master/opentracing-agent/src/main/java/io/opentracing/contrib/agent/OpenTracingHelper.java#L124

Is this something that maybe we can support as part of the rule utils class or would you recommend a diff approach?

My use case is I have to associate an object with

[2019-12-21 15:14] safris commented on #323
Hi @jam01, this utility is deliberately omitted from the SpecialAgent, because rules should not interact with each other. If rules are allowed to be coupled to each other, then what would happen if a user chooses to turn off Rule A when Rule B relies on it? Allowing rule interdependencies would open a pandora's box of complexity that is easier avoided than confronted. What is the specific use-case

[2019-12-21 16:52] jam01 commented on #323
Sure. So in my use case there's heavy use of reactive streams, but in a way that's can't be supported by the reactive context approach; there are two streams and they're not connected, also one is cold and the other hot. Basically I need to associate the object as it leaves the first one with a span and retrieve it when it goes through the second so it can be activated in every reactive processor.

[2019-12-23 09:49] safris commented on #323
As in my previous point: one plugin cannot depend on another. If your wrapper/tuple approach does not break this rule, then go for it. Otherwise, a different solution has to be invented. Is there a generic approach that can be used instead? The OpenTracing API has a mechanism of propagating context: parent spans. Are the reactive streams properly propagating spans?

[2019-12-23 14:42] pc-alves commented on #308
Thank you for the hints, @safris

Regarding 2., here are further details of the experiment, and the observations:

- Java 1.8; Specialagent 1.5.0; Servlet plugin disabled; Application works and creates spans.
- Java 1.8; Specialagent 1.5.0; Servlet plugin enabled; Application fails with `ClassNotFoundException` trying to find `io.opentracing.contrib.specialagent.rule.servlet.FilterAgentIntercept`

[2019-12-24 00:29] jam01 commented on #323
As I mentioned, the reactor streams setup can't be supported because it's not one continuous stream. I may have misspoken when I talked about multiple Rules. Basically from one single Plugin I need two rules, or perhaps I should say I need two different class transformations, to interact with a single Map[object, span].

[2019-12-24 02:56] safris commented on #323
Oh, if it's in the same "plugin", then you can just create a map that is locally accessible to that plugin. I think there is one or a couple plugins that have something like this. I guess the bottom line in this setup is to make sure that the state you'll be sharing between the two rules (in the same plugin) is "generally correct regarding the logical relation between the two rules".

[2019-12-27 05:04] jam01 commented on #323
I went ahead and created a singleton map, basically borrowed, from the java-agent and am successfully using that. Thanks, Seva.

[2019-12-27 05:04] #323 closed

[2019-12-27 14:52] #317 closed

[2019-12-30 08:40] safris opened #325 "Integration test for AWS SDK 2.7.15 is unstable"
This test failed in 2 consecutive builds with the same error:

[code]

[2020-01-02 14:01] malafeev commented on #325
[code]

looks like downloaded jar files are corrupted.
I'm not sure that we can force maven to re-download corrupted jars.

[2020-01-03 01:30] safris opened #327 "Implement Integration tests for Jetty 9.3.x and 9.4.x"
Regarding #319.

[2020-01-03 01:33] safris opened #328 "Release v1.5.5"
The v1.5.5 release includes the following updates:
* Implement AgentRule(s) for Neo4J Driver (#321)
* Implement AgentRule(s) for Netty (#318)
* Explicitly support OpenJDK (#158)
* Explicitly support Jetty 9.3.x and 9.4.x (#327)
* Use strict advice clauses in `FilterAgentRule` (#331, #338)
* Improve integration test architecture (#335)
* Upgrade JDBC Plugin to v0.2.5 (DynamicProxy) (#343)

[2020-01-03 01:38] safris opened #329 "Determine libs transitively supported by existing instrumentation"
Specify which 3rd-party libs are transitively supported, and specify it [here](https://github.com/opentracing-contrib/java-specialagent/#63-instrumented-libraries-by-existing-rules). In addition to the name of the transitively supported 3rd-party lib, also state which existing plugin/rule provides the transitive instrumentation.

[2020-01-03 01:39] safris opened #330 "Implement integration tests for transitively supported libs"
Following from #329.

[2020-01-03 01:43] #325 closed

[2020-01-03 01:47] safris commented on #273
Work in progress [here](https://github.com/opentracing-contrib/java-specialagent/tree/camel).

[2020-01-06 08:00] #288 closed

[2020-01-06 09:44] safris commented on #319
Hi @alvinhom, I have added Jetty 9.3.28 and 9.4.24 to the versions that are regression tested by SpecialAgent. The regressions are passing, which means that you have a use-case that is outside the scope of our test cases. Could provide a test repo to demonstrate your use-case?

[2020-01-06 09:52] safris commented on #308
Hi @pc-alves, I wanted to check if you have had any luck creating a demo app to reproduce the error you're seeing. I have added Jetty 9.3.28 and 9.4.24 to the versions that are regression tested by the SpecialAgent build. Since our tests pass, you have a use-case that is outside the scope of our test cases.

[2020-01-06 21:56] alvinhom commented on #319
@safris I just got back from Winter break so it will take me work on this.  The app that I am instrumenting is quite large and uses Jetty and OSGI bundles.  I will try to get the latest version and see if I can reproduce the problem.  If so, I can see if I can produce a test case.

[2020-01-07 00:24] #327 closed

[2020-01-07 06:31] rkondra1 opened #333 "Phonon2 JRE-8 error while starting"
was using a Java tracking agent to monitor one of our microservices to gather micro-service detailed metrics. But when I am starting “opentracing-specialagent-1.5.4.jar” along with our application I am getting below exception saying need JDK.  Due to the application requirement, we have to use only JRE in containerized photon2 OS.

Can you please let me know what has to be done to get the jar runn

[2020-01-07 09:05] pc-alves commented on #308
Hi @safris. Things went a bit slow over the holidays. However, we did create a small app to try to replicate the issue. While doing so, we noticed that the errors I reported were only obtained while running the maven version that the legacy project requires (3.0.5). When we run it with maven 3.6.3 everything works fine.

As we don't actually need maven to run the app (we just deploy it to tomcat i

[2020-01-07 10:52] safris commented on #333
Hi @rkondra1, thanks for reporting this exception. We have not considered using only the JRE with SpecialAgent, but let's see if we can make it work. It looks like this error is concerning classes of `tools.jar` not being present on the bootstrap path. The JRE does not come with `tools.jar`.

**Question**: Are you trying to use Dynamic Attach?

If yes, then you must use the JDK, since Dynamic Atta

[2020-01-07 12:29] safris commented on #158
SpecialAgent now explicitly supports OpenJDK for development.

[2020-01-07 12:29] #158 closed

[2020-01-07 12:35] safris commented on #301
Closing this, because it is not an actionable issue.

[2020-01-07 12:35] #301 closed

[2020-01-08 02:41] safris opened #335 "UncaughtExceptionHandler and test for itest-maven-mojo"
Implement a test for `itest-maven-mojo`.
Integrate `UncaughtExceptionHandler` into `itest-maven-mojo`, and remove its mention from each individual test (to which it is currently coupled).

[2020-01-08 04:37] safris opened #336 "Travis CI failing to download maven dependencies"
`ReasonPhrase:Forbidden`
https://travis-ci.community/t/maven-central-giving-errors-to-travis-ci-build/123
https://github.com/travis-ci/travis-ci/issues/6593

[2020-01-08 08:32] #321 closed

[2020-01-08 10:55] safris commented on #312
After an exceedingly lengthy time in attempting to achieve this enhancement, I have decided to keep SpecialAgent's build pipeline on Travis CI.

The reason for migrating to GitHub Actions was primarily to speed up the build time, because GitHub Actions allows 20 concurrent jobs instead of the 5 that Travis CI allows.

**Problems with Travis CI**

1. Travis CI allows only 5 concurrent jobs, which r

[2020-01-09 10:59] zeitlinger commented on #308
Hi @safris - I worked with @pc-alves on this topic.

Our test with tomcat was successful - also with Java 1.7.

We did find a couple of issues along the say - and I'll open separate issues for them, to keep the discussion more focused.

This issue can be closed now.

[2020-01-09 13:26] safris commented on #308
Thank you for the update @zeitlinger. I will close this issue, and will look out for your subsequent issues.

[2020-01-09 13:26] #308 closed

[2020-01-09 14:13] zeitlinger opened #340 "lightstep logging is not working"
the  lightstep bundle does not have an slf4j implementation, hence logging is completely turned off, regardless of `ls.verbosity`

I'm not sure where the slf4j implementation is supposed to be provided - hence I didn't create a PR
1. in the [bundle](https://github.com/lightstep/lightstep-tracer-java/tree/master/lightstep-tracer-jre-bundle)
2. in this repo
3. somehow in the target application

[cod

[2020-01-09 14:19] safris commented on #340
Hi @zeitlinger, the `lightstep-tracer-jre-bundle` is not the LightStep Tracer. It is a middleman between the SpecialAgent and the LightStep Tracer. The [plugin docs ](https://github.com/lightstep/lightstep-tracer-java/tree/master/lightstep-tracer-jre-bundle#lightstep-tracer-bundle) specify which parameters are available, and `ls.verbosity` is not one of them.

Nevertheless, I do believe that `ls.v

[2020-01-09 14:26] zeitlinger commented on #340
OK, created an [issue](https://github.com/lightstep/lightstep-tracer-java/issues/223).

[2020-01-09 16:36] malafeev commented on #259
@devinbost how do you call Pulsar Functions?
From my understanding functions are deployed to cluster and then triggered via command line.
So you would like to have instrumentation of execution of functions in the cluster?
Pulsar Consumers/Producers is client side instrumentation, but Pulsar Functions is server side.

[2020-01-09 17:24] devinbost commented on #259
Pulsar functions are triggered by data coming into a topic that the
function is subscribed to.

On Thu, Jan 9, 2020, 9:36 AM Sergei Malafeev <notifications@github.com>
wrote:

[2020-01-10 02:18] safris opened #341 "Reimplement `jdbc` rule via composition pattern"
The JDBC tracer replaces the connection with a tracing connection with built in tracing stuff, like a wrapper around the entire database connection.

[code]

[2020-01-10 02:41] malafeev commented on #259
thanks @devinbost
so you will run Pulsar cluster with SpecialAgent jar and expect to see traces from Pulsar Functions?
did you try to do that?

[2020-01-10 02:42] safris opened #342 "Improve test coverage for init patterns"
Not just once, members of the GitHub community have stumbled on one-off bugs in SpecialAgent's initialization patterns, and have submitted PRs (such as #339).

The deliverable of this issues is to implement `SpecialAgentTest`, which will be responsible for verifying as many of SpecialAgent's initialization patterns as feasible.

[2020-01-10 07:13] #336 closed

[2020-01-10 07:16] #335 closed

[2020-01-10 11:48] safris commented on #341
Moving this to [v1.5.6](https://github.com/opentracing-contrib/java-specialagent/milestone/3), in favor of a half-step that partially solves the "wrapper problem" in the [JDBC Plugin directly](https://github.com/opentracing-contrib/java-jdbc/pull/59).

[2020-01-10 11:50] #318 closed

[2020-01-10 12:58] safris opened #343 "Upgrade JDBC Plugin v0.2.5 (DynamicProxy)"
The v0.2.5 version has the "wrapper issue" partially solved, where consumers of the JDBC API upcast JDBC interfaces to more specific classes or interfaces of a specific vendor.

[2020-01-10 13:15] #343 closed

[2020-01-10 15:09] #328 closed

[2020-01-12 01:19] safris opened #344 "Replace Travis CI with Circle CI"
Related to the work previously attempted to [replace Travis CI with GitHub Actions](https://github.com/opentracing-contrib/java-specialagent/issues/312).

[2020-01-14 09:38] safris opened #346 "Implement missing integration tests"
- [ ] `akka-actor`
- [ ] `couchbase-client`
- [ ] `camel` <- @safris will do this

[2020-01-15 10:57] safris opened #348 "Improve test module structure"
Currently, the module structure under `/test` is flat. This organization is convenient, because it does not require an additional layer of module indirection, thus reducing overall code complexity. One disadvantage, however, is that this design pushes the complexity of "grouping of tests" into `test/pom.xml` and into `.travis.yml`. When migrating to GitHub Actions (#312) or Circle CI (#344), this

[2020-01-15 15:44] safris opened #350 "`spring-kafka` test failing after refactor"
@malafeev, would you be able to help me with a test? I have refactored the module structure under `/test`, and for some reason the `spring-kafka` test is failing. Could you take a look at it? The work is in [`circleci` branch](https://github.com/opentracing-contrib/java-specialagent/blob/circleci/test/spring-kafka/spring-kafka-2.3.3/pom.xml), and here's the log of the spring-kafka tests:
https://a

[2020-01-16 03:32] #350 closed

[2020-01-16 05:05] #322 closed

[2020-01-16 05:14] safris opened #352 "Update `CouchbaseClientTest` to resemble `CouchbaseClientITest`"

[2020-01-16 13:50] #352 closed

[2020-01-16 16:22] safris opened #356 "Static deferred attach is unavailable"
The `SpringWebMvcDeferredAttach` and `SpringBootDeferredAttach` plugins have dropped out of the bundled plugins list in SpecialAgent.

[2020-01-16 18:48] pcasaes commented on #356
Would this be the cause of not detecting deferrers on Spring Boot applications?

[code]

[2020-01-16 23:22] osbornk opened #357 "ClassCastException with Slick"
I am using OpenTracing Special Agent with Play and Slick. If I include the "concurrent" rule, I get the following error with Slick.

[code]

Looks like it is trying to instrument something it shouldn't. If there is any further information I can provide, please let me know.

If I don't include the concurrent plugin, there are no errors. But then the context is not propagated properly.

[2020-01-17 05:52] safris opened #358 "Different span behavior for Spring WebMCV re static/deferred attach"
The latest changes to Static Deferred Attach have enabled it to be turned on for all integration tests. Now, Spring WebMVC 3.0.2, 3.2.18, 4.0.0, and 4.3.25 test is failing, reporting extra spans when Static Deferred Attach is activated. Spring WebMVC 5.0.0 and 5.2.1 are working consistently in both modes.

To work around this issue, the following has been added to the POMs for tests of Spring WebM

[2020-01-17 06:04] safris commented on #356
Hi @pcasaes, yes, this is correct. Static Deferred Attach is in fact not bundled in the SpecialAgent's main JAR artifact. In lieu of of this realization, I will remedy this issue, and will push the SpecialAgent [v1.5.6](https://github.com/opentracing-contrib/java-specialagent/milestone/3) release today (a week earlier than scheduled).

[2020-01-17 13:13] safris opened #359 "Use DynamicProxy for all objects instrumented via inheritance pattern"
This will provide a solution for #357, and all similar situations.

[2020-01-17 13:19] #348 closed

[2020-01-17 13:23] safris opened #360 "Release v1.5.6"
The v1.5.6 release includes the following updates:
* Improve test module structure (#348)
* Use DynamicProxy for all objects instrumented via inheritance pattern (#359)
* Update `CouchbaseClientTest` to resemble `CouchbaseClientITest` (#352)
* Static deferred attach is unavailable (#356)
* Upgrade JDBC Plugin to v0.2.7

[2020-01-18 02:16] safris commented on #357
Hi @osbornk, thank you for this issue. Coincidentally, I was researching the underlying cause of this issue that was related to similar situations with other plugins. This is a critical issue, and I have checked in the fix for it in #359.

I have pushed the release date of [v1.5.6](https://github.com/opentracing-contrib/java-specialagent/milestone/3) to today. Once [this release build](https://tra

[2020-01-18 04:57] #360 closed

[2020-01-18 04:59] #356 closed

[2020-01-18 04:59] #357 closed

[2020-01-18 04:59] #359 closed

[2020-01-18 05:00] safris commented on #357
@osbornk, please reopen this issue if SpecialAgent v1.5.6 has not resolved your error.

[2020-01-20 09:28] ehmke opened #361 "Manage mimepull dependency"
Spring-Boot depends on a outdated and missing version of mimepull: https://github.com/spring-projects/spring-boot/issues/14924
Using an empty local repository and a fresh checkout this will cause a dependency resolution error.

[2020-01-20 09:35] safris commented on #361
Hi @ehmke, can you please elaborate on how this issue with Spring Boot relates to SpecialAgent?

[2020-01-20 09:41] ehmke opened #362 "spring-boot deferred attach only works with flat-jar"
Currently spring-boot deferred attach only detects deferrers when a flat jar as created by the maven-shade-plugin is used.
Using the spring-boot-maven-plugin using repackage will create a hierarchical fat jar where special-agent fails to find any deferrers.

[2020-01-20 10:45] ehmke commented on #361
Also during build of SpecialAgent maven tries to resolve all dependencies including mimepull which was removed from maven-central.

[2020-01-20 11:15] safris commented on #361
Hi @ehmke, can you please provide more clarity on this?

Why does that matter for SpecialAgent?

Can you please point me to the error?

[2020-01-20 11:55] safris opened #363 "`SpecialAgentUtil.convertToNameRegex(...)` does not match "spring:boot""
Update the returned regex from SpecialAgentUtil.convertToNameRegex(...) to capture the direct name.

[2020-01-20 12:28] safris opened #364 "`JmsTest` in JMS-2 is unstable"
The following error is happening often for both J8 and J11.

**Is there some other way to model the evaluation of the test criteria that does not result in intermittent errors?**

[code]

[2020-01-20 13:17] ehmke commented on #361
Well, below you find the build log output.

mimepull is a transitive dependency coming from: io.opentracing.contrib.specialagent.rule:spring-boot --> com.sun.xml.messaging.saaj:saaj-impl --> org.jvnet.mimepull:mimepull
And version 1.9.8 was removed from central maven repository.

It is a test dependency anyways, but without it, the build fails. Maybe it can be even excluded to make it work. Funny,

[2020-01-20 13:27] ehmke commented on #361
Hi, this seemed to be strange issue in my local repository. After cleaning it up a little, everything was found, because it downloaded the missing dependency from another remote repository.

[2020-01-20 13:27] #361 closed

[2020-01-21 02:02] safris commented on #362
Hi @ehmke, this has been fixed and pushed to Maven Central Snapshot repository. If you could, please [download the development build of SpecialAgent](https://github.com/opentracing-contrib/java-specialagent#2112-development), and confirm whether this issue is resolved.

[2020-01-21 05:25] #363 closed

[2020-01-21 05:32] safris commented on #320
Closing this issue as the more specific issue has been completed:
https://github.com/lightstep/lightstep-tracer-java/issues/220

[2020-01-21 05:32] #320 closed

[2020-01-21 10:07] ehmke commented on #362
@safris seems to work. Thanks.

[2020-01-21 10:09] safris commented on #362
Thanks for the confirmation @ehmke. Closing this issue now.

[2020-01-21 10:09] #362 closed

[2020-01-21 13:42] ehmke opened #367 "SpringBoot deferring initializes too early"
I observed that now after the deferring fixes have been made, in one of our services SpecialAgent is initialized too early.
Seems like the StartupInfoLogger can be actually called very early to create a starting-message (like "Starting myFancyService on blub with PID 1234"). This happens in SpringApplication.prepareContext. Therefore directly after SpecialAgent will initialize which can be way bef

[2020-01-22 02:30] safris opened #368 "DynamicProxy: "object is not an instance of declaring class""
The `Producer` proxy doesn’t call tracing producer method to create producer span.

[code]

it fails when method is
[code]
public abstract void javax.jms.MessageProducer.send(javax.jms.Message) throws javax.jms.JMSException
[code]

[2020-01-22 09:13] safris opened #369 "NoSuchMethodException: TracingFilter.buildSpan(...)"
Occurring with `SpecialAgent Test for Spring Web MVC 1.0`.

[2020-01-23 15:01] safris opened #372 "`AgentRunner` fails to `PluginManifest.getPluginManifest(File)`"
`ExecutorServiceTest` is failing when run from IDE, because it is attempting to `setVerbose(boolean)` on a null `PluginManifest`, which was failed to be retrieved by `AgentRunner`.

[2020-01-23 16:39] #364 closed

[2020-01-23 16:39] #358 closed

[2020-01-24 01:37] #372 closed

[2020-01-24 01:41] #368 closed

[2020-01-24 01:50] safris opened #374 "Use `WrapperProxy` from "io.opentracing.contrib:common""
This issue relates to #359.

[2020-01-24 09:33] safris opened #375 "Implement Dynamic Instrumentation Rule"
Relates to #293.

[2020-01-24 11:54] safris commented on #375
Merged in [this commit](https://github.com/opentracing-contrib/java-specialagent/commit/92f471aa8cbe74bec42e16c60c8133f97c40372b).

[2020-01-24 11:54] #375 closed

[2020-01-24 12:17] #374 closed

[2020-01-24 13:20] #369 closed

[2020-01-24 13:22] safris commented on #341
Closing this in lieu of success with #374.

[2020-01-24 13:25] safris commented on #319
Hi @alvinhom, we have recently identified issues with the `servlet` rule that relate to this issue. It may be the case that the resolution of the related issues also provides a fix for this issue here. If you could, please download a [development build](https://github.com/opentracing-contrib/java-specialagent/#2112-development) and test your use-case.

[2020-01-24 13:26] safris commented on #287
This has been superseded by #375.

[2020-01-24 13:26] #287 closed

[2020-01-24 16:25] alvinhom commented on #319
Ok.  I will test it and update here.

On Fri, Jan 24, 2020 at 5:25 AM Seva Safris <notifications@github.com>
wrote:

[2020-01-24 16:57] alvinhom commented on #319
I am getting an error while trying to build from source:

[INFO] Running io.opentracing.contrib.specialagent.rule.thrift.ThriftTest
`isolateClassLoader=false`
All attempts should be taken to avoid setting `isolateClassLoader=false`
io.opentracing.contrib.specialagent.rule.thrift.ThriftProtocolAgentRule
io.opentracing.contrib.specialagent.rule.thrift.ThriftAgentRule
.===============================

[2020-01-24 17:30] mayanksriv opened #376 "akka instrumentation doesn't work in a clustered environment."
I am using `sa.instrumentation.plugin.akka:actor.enable` plugin to trace actor communication within my spring-boot2 app. But when my actors are distributed in a cluster there doesn't seem to be any serialization for the TracedMessage object. So basically individual nodes cannot communicate and join together in a cluster.
`
WARN  akka.cluster.Cluster(akka://foo-dispatcher-system) - Cluster Node [ak

[2020-01-24 21:42] alvinhom commented on #319
I commented out the Thrift plugin for now since I am not using it.  After that, I was able to test my application and it appears that this problem is fixed.  I am seeing other spans linked with the servlet span.

I am getting some other weird issue though.  I am getting the following exception in one of my service.  I am sure the Servlet does not override init so the ServletConfig should be set by

[2020-01-25 01:53] safris commented on #341
Reopening due to issue with Debezium:
[code]

[2020-01-25 07:13] safris commented on #376
Hi @mayanksriv, thank you for submitting this issue. We're looking into it.

[2020-01-25 07:36] safris opened #377 "Instrumentation Tests failing with Static Deferred Attach"
The following integration tests are failing when Static Deferred Attach is turned on:
* ~Spring WebSocket~
* ~Spring Messaging~
* ~Spring Kafka~
* ~Spring WebFlux~
* ~Spring RabbitMQ~
* ~Spring JMS~
* ~Spring WebMVC 5.0.0 & 5.2.1~
* ~Zuul~

[2020-01-25 07:39] safris commented on #377
To allow these tests to pass, I have disabled Static Deferred Attach in these tests.

[2020-01-25 08:24] safris commented on #367
Hi @ehmke, the fix for this issue has been built and deployed. If you could, please download the [development build](https://github.com/opentracing-contrib/java-specialagent#212-for-development) and let me know if the issue persists.

[2020-01-25 16:38] safris commented on #377
I think all of these started failing due to [this commit](https://github.com/opentracing-contrib/java-specialagent/commit/c43b59dacd8167579020a5db1b68214bd8be997f), which a fix for #367. Basically, issue #367 brought to my attention that Static Deferred Attach was not working properly for higher versions of Spring Boot. For the higher versions, the hook was being activated prematurely. This means

[2020-01-27 08:51] #299 closed

[2020-01-27 08:53] malafeev commented on #329
added twilio, ratpack, sparkjava

[2020-01-27 08:53] #329 closed

[2020-01-27 08:53] malafeev commented on #330
added twilio, ratpack, sparkjava

[2020-01-27 17:16] #330 closed

[2020-01-28 04:43] malafeev commented on #377
that's not similar to `servlet`
here `*AgentIntercept` is never called.
looks like spring rules never triggered.

[2020-01-28 12:31] ehmke commented on #367
I tried it and now it defers but never continues initialization at all, even though we are calling     app.run(args) where App is an instance of SpringApplication

[2020-01-28 14:12] malafeev commented on #376
@mayanksriv java-akka doesn't have any serializer for DistributedMessage.
Therefore you need to configure it.

In PR #380 I made `io.opentracing.contrib.specialagent.rule.akka.actor.TracedMessage` to contain only 2 fields: original message and map. It should allow to serialize it via jackson serializer for example.
But as I understand you need to configure serializer for that class manually.

Anot

[2020-01-28 15:26] mayanksriv commented on #376
@malafeev I ended up with my own traced proto message and used java-akka to manually instrument using `tracer.inject` and `tracer.extract`, etc.

[2020-01-28 16:50] safris commented on #367
Hi @ehmke, this is proving to be a very difficult problem. Spring versions have a lot of variability with regard to the answer to the question: "what signifies 'application is ready'?" My attempts have resulted in other issues. I have rewritten the deferred attach initialization yet again in the 3 commits mentioned above. My preliminary tests have proven successful, but I have not yet performed a

[2020-01-28 16:52] safris commented on #377
@malafeev, I've rewritten the Static Deferred Attach hooks for Spring Boot and Spring WebMVC. This has resulted in `spring-kafka` tests passing, so I've reactivated deferred attach for `spring-kafka`. The other lib tests are still failing.

[2020-01-29 16:32] ehmke commented on #367
Now, it detects the SpringWebMvc deferrer
`1 deferrers were detected:
  io.opentracing.contrib.specialagent.rule.spring.webmvc.SpringWebMvcAgentRule`

But here it doesn't initialize (deferring forever). Maybe I'll try to build something with a marker interface. That could be a good fallback also for other frameworks which people may use.

[2020-01-30 00:29] hanwavefront opened #381 "Tracers are getting instrumented by HttpURLConnection plugin"
With v1.5.6 of the SpecialAgent, I'm seeing that the Wavefront and Jaeger tracers are getting instrumented by the agent.  Specifically, I'm seeing that the tracer reporters are getting instrumented with single-span traces like the following when creating an `HttpURLConnection`:

![image (1)](https://user-images.githubusercontent.com/41025882/73408762-27f1ee80-42b2-11ea-8fda-b17e735b744e.png)

With

[2020-01-30 09:10] safris commented on #381
Hi @hanwavefront, thank you for submitting this issue. SpecialAgent should not be instrumenting tracers, so this is definitely a bug.

[2020-01-30 10:00] ehmke commented on #367
Please see: https://github.com/opentracing-contrib/java-specialagent/pull/382

[2020-01-30 10:53] safris commented on #381
Hi @hanwavefront, I have looked at this, and have figured out why this is happening.

**The Problem**

1. The `ByteBuddyManager` has [a clause](https://github.com/opentracing-contrib/java-specialagent/blob/860ab42378536a34afa13307c3be406b2d1aa793/opentracing-specialagent/src/main/java/io/opentracing/contrib/specialagent/ByteBuddyManager.java#L69-L70) that tells ByteBuddy to ignore `any()` classes

[2020-01-30 13:19] safris commented on #381
Hi @hanwavefront, I have committed an implementation of the proposed solution. When [this build](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/643855311) finishes, please download [the development build](https://github.com/opentracing-contrib/java-specialagent#2112-development) and advise regarding your tests.

[2020-01-31 00:17] alvinhom commented on #319
I found the bug in our code.  One of the classes that subclassed the main Servlet class overrode init(Config) without calling super.  I guess the normal path does not try to call getServletContext.  I will close this issue as the original issue is fixed with latest version.  Thanks for investigating it.

[2020-01-31 00:17] #319 closed

[2020-01-31 01:52] safris opened #383 "Release v1.5.7"
* Improve intercept logging (#385)
* Improve test coverage for init patterns (#342)
* Fix download links in README.md (#386)
* Make `TracedMessage` distributable (#380)
* Fix Static Deferred Attach for Spring Boot based apps (#379)
* Determine libs transitively supported by existing instrumentation task (#329)
* Implement integration tests for transitively supported libs (#330)
* Add integration t

[2020-01-31 02:35] hanwavefront commented on #381
Hi @safris , thank you for the quick response!  The build failed to finish, but I've built and tested your fix locally.  The fix makes sense to me, but unfortunately I'm still seeing the same traces for the Wavefront and Jaeger tracers.

For Wavefront, it seems that the `wavefrontdirectsender-0` thread is not triggering `ThreadMutexAgent.enter` (nor is it triggering `ThreadAgentRule.Start.enter`),

[2020-01-31 03:37] safris commented on #381
Hi @hanwavefront, I have updated the `ThreadMutexAgent`. Can you rebuild SpecialAgent on your system and run your tests again?

[2020-01-31 03:37] kongzhp opened #384 "AgentRunner fail in windows because of file/path separator"
In  AssembleUtil.classNameToResource() and AgentRunner.findRulePaths() method, file separator and file path separator are hardcoded as '/' and ':', which only work for linux users. If running test cases in windows, it will fail. Therefore, please use File.separatorChar instead of '/', use File.pathSeparator instead of ':'

[2020-01-31 03:45] safris commented on #384
Hi @kongzhp, can you please elaborate on this issue?

1. `AssembleUtil.classNameToResource()` converts a class name to its resource path. This method does not touch the `File` API.
1. `AgentRunner.findRulePaths()` delegates to `SpecialAgentUtil.classPathToFiles()`, which uses `File.separatorChar`.

If you're experiencing issues with `AgentRunner` failing in Windows, can you provide me with the err

[2020-01-31 03:50] safris commented on #367
Hi @ehmke, with regard to "it doesn't initialize (deferring forever)": Can you tell me what version of Spring Boot you are testing with? Also, if you could provide the output of `mvn dependency:tree`, this would be helpful.

[2020-01-31 04:36] hanwavefront commented on #381
Thanks @safris.  Still seeing the same behavior.  That method is not getting triggered by the thread in question.

[2020-01-31 05:50] safris opened #385 "Improve intercept logging"
Currently, `FINER` level logging shows intercept logs akin:

[code]

In addition to the current information provided by this log entry, it would be useful to have the log also show the specific `AgentRule` subclass responsible for the intercept.

[2020-01-31 05:53] safris commented on #381
Hi @hanwavefront, in order to better understand what rule is resulting in what intercept, I've improved the logging as per #385. If you could, please re-pull, re-build, and re-run your test. The improved intercept logs will show what `AgentRule` subclass is responsible for each intercept.

[2020-01-31 08:20] kongzhp commented on #384
Hi Safris,
Thanks for your quick reply.
The exception is:
[code]
I am using specialagent 1.5.6.

I debug this issue, I found that root cause:
In AgentRunner.loadClassInIsolatedClassLoader()
[code]
[code]
AssembleUtil.classNameToResource(name) will conver the classname to this/is/a/class

Although this\is\a\class and this/is/a/class refer to the same class , but testClasses.contains(resourceName) w

[2020-01-31 08:26] kongzhp commented on #384
In AgentRunner.findRulePaths()
[code]
System.setProperty(SpecialAgent.RULE_PATH_ARG, AssembleUtil.toString(rulePaths.toArray(), ":"));

Colon ':' is not work for windows , so I recommand to use File.pathSeparator as the path separator

[2020-01-31 11:17] safris commented on #384
Hi @kongzhp, thank you for digging into this. I have taken your suggestions and have amended the code. Please advise whether the changes resolve the problem you're seeing.

[2020-01-31 14:33] LSwiatek opened #386 "Readme link to last stable release is incorrect"
https://github.com/opentracing-contrib/java-specialagent#2111-stable

both hyperlink and wget command should be updated to

`wget -O opentracing-specialagent-1.5.6.jar "https://repo1.maven.org/maven2/io/opentracing/contrib/specialagent/opentracing-specialagent/1.5.6/opentracing-specialagent-1.5.6.jar"
`

[2020-01-31 14:47] safris opened #387 "Update Instrumentation Plugins"
[code]

[2020-01-31 15:20] safris commented on #386
Hi @LSwiatek, thank you kindly for the note! I've fixed this in the README.md.

[2020-01-31 15:20] #386 closed

[2020-01-31 15:42] safris commented on #367
Hi @ehmke, I have updated the `SpringBootAgentRule` to not exclude itself it `SpringWebMVSAgentRule` is activated also. Our builds are taking a ridiculously long time (another issue we are working to fix). If you could, please re-pull, re-build, re-test your app, and let me know your findings re the latest changes.

[2020-01-31 15:46] #342 closed

[2020-01-31 15:48] #385 closed

[2020-01-31 16:50] ehmke commented on #367
Hi @safris,

I tried it out with disabling SpringWebMVC. First service it worked. Second service it instantly initialized, thus didn't work. Seems like ContextRefreshedEvent may be thrown very early during Spring initialization as you can see from the stacktrace-excerpt below.

`
<init>:37, ContextRefreshedEvent (org.springframework.context.event)
finishRefresh:896, AbstractApplicationContext (org

[2020-01-31 16:54] ehmke commented on #367
Also the HEAD version seems to stack-overflow somehow. No time to further look but this was running endlessly over the screen (didn't happen with the version from Jan 29.):

`io.opentracing.contrib.specialagent.rule.servlet.FilterAgentIntercept$1.doFilter(FilterAgentIntercept.java:70)
	at io.opentracing.contrib.web.servlet.filter.TracingFilter.doFilter(TracingFilter.java:172)
	at io.opentracing.co

[2020-01-31 20:06] randallt commented on #341
I ran into a similar issue, but with the class 'oracle.jdbc.OracleConnection'. A client was trying to set a certain array type, which requires casting to the Oracle connection.

[2020-02-01 01:07] hanwavefront commented on #381
Sample of the logs with Wavefront tracer:
[code]
So it looks like `ThreadMutexAgent` is intercepting `wavefrontDirectSender-0` but a different thread is being added to `tracerThreadIds`, resulting in `wavefrontDirectSender-0` continuing to get instrumented.  I believe it's because `Thread.currentThread()` in `isEnabled()` is different from `Thread thiz` in `ThreadMutexAgent.enter()`.  `thiz` in th

[2020-02-01 02:33] kongzhp commented on #384
Hi @safris ,I update my pom.xml to 1.5.7-SNAPSHOT, but I could not find your latest code changes in opentracing-specialagent-1.5.7-20200131.143635-14-tests.jar. Could you please build the 1.5.7-SNAPSHOT and deploy to the maven repo?

[2020-02-01 14:21] safris opened #388 "itest-maven-plugin parsing ${sa.itest.args} incorrectly"
`${sa.itest.args}` is a maven property used to allow individual modules to define arguments to be passed to java when invoking integration tests. Currently, this maven property is being parsed as a single argument string, with spaces considered to be part of the argument (as if the argument is quoted).

This should be changed to have the `${sa.itest.args}` maven property be split into parts delimi

[2020-02-01 14:26] safris opened #389 "VerifyError: "Illegal type in constant pool" due to `isEnabled(Class,String)`"
`isEnabled(Class,String)` was recently updated to allow for the `isEnabled` method to communicate which `AgentRule` results in which intercept. Passing the class literal as an argument to this method results in a VerifyError: "Illegal type in constant pool".

`isEnabled(Class,String)` should be changed to `isEnabled(String,String)`.

[2020-02-01 14:59] #388 closed

[2020-02-01 14:59] #389 closed

[2020-02-01 15:00] #387 closed

[2020-02-01 15:07] safris commented on #384
Hi @kongzhp, we have an outstanding problem with the build system. Travis CI is taking ~10 hours to build SpecialAgent, and it usually fails due to issues with Travis. If you wouldn't mind, you can clone the repo and [build SpecialAgent by yourself](https://github.com/opentracing-contrib/java-specialagent#212-for-development). We have an imminent release (as of yesterday), so I will close this iss

[2020-02-01 15:07] #384 closed

[2020-02-01 15:34] safris opened #390 "Spring Boot may not initialize with Static Deferred Attach"
The current implementation in `SpringBootAgentRule` relies on the `StartupInfoLogger` to trigger the initialization hook for Spring Boot. This hook, however, can potentially never be called due to [this](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/SpringApplication.java#L318).

[2020-02-01 15:37] safris commented on #367
Hi @ehmke, thank you for the feedback. You are correct regarding `ContextRefreshedEvent`. With further research, I have realized that this event cannot be used to determine "Spring is ready" state. I assume your solution in #382 works for your use-case, so I have therefore imported your solution from #382.  I have noted the outstanding issue with this solution here: #390.

Regarding the stack over

[2020-02-01 15:37] #367 closed

[2020-02-01 16:33] safris opened #391 "Stack-overflow in `FilterAgentIntercept`"
From [here](https://github.com/opentracing-contrib/java-specialagent/issues/367#issuecomment-580816571):

[code]

[2020-02-02 04:46] safris opened #392 "`ThreadAgentIntercept` should not close Scope"
[This code](https://github.com/opentracing-contrib/java-specialagent/blob/c9dbbcb6fc5aafda14443c37aabf4ac2ba5241c0/rule/thread/src/main/java/io/opentracing/contrib/specialagent/rule/thread/ThreadAgentIntercept.java#L63-L64) should not exist, because of [this](https://javadoc.io/doc/io.opentracing/opentracing-api/latest/io/opentracing/Tracer.html#activateSpan-io.opentracing.Span-):

It is the respo

[2020-02-02 05:07] malafeev commented on #392
scope is created by `ThreadAgentItercept`: https://github.com/opentracing-contrib/java-specialagent/blob/master/rule/thread/src/main/java/io/opentracing/contrib/specialagent/rule/thread/ThreadAgentIntercept.java#L54
And it is put to thread local map of ThreadAgentItercept.

Then this scope is closed by ThreadAgentItercept (it is retrieved from thread local map of ThreadAgentItercept).

If thread p

[2020-02-02 05:23] safris commented on #392
Yes, I can see this now. So the follow-up question is: does the `ThreadAgentItercept` need to create a new scope for the new thread? Can it not use the scope of the parent thread?

[2020-02-02 05:28] malafeev commented on #392
For each new thread we need to create a new scope from parent thread span,
and close scope when thread is finished.
https://github.com/opentracing/opentracing-java#deferring-asynchronous-work

[2020-02-02 13:52] safris commented on #392
Thanks for the info @malafeev. After beating my head against the wall trying to figure this out, it seems the API's architecture would not allow us to take advantage of [`InheritableThreadLocal`](https://docs.oracle.com/javase/7/docs/api/java/lang/InheritableThreadLocal.html) after all. Closing this issue.

[2020-02-02 13:52] #392 closed

[2020-02-02 14:49] #383 closed

[2020-02-03 04:54] safris opened #393 "`spring-kafka` failing for jdk8"
In a number of recent builds, the Spring Kafka integration test has repeatedly failed for jdk8. I believe this is related to the issues we've encountered with Static Deferred Attach for other Spring-based tests, and the fact that it's only failing for jdk8 and not jdk11 is especially surprising. You can refer to [this](https://api.travis-ci.org/v3/job/645086525/log.txt) log, which shows:

[code]

[2020-02-03 05:02] safris commented on #341
Hi @randallt, thanks for your feedback. I'm surprised this is happening for `oracle.jdbc.OracleConnection`, because this class is an interface. Can you tell me with which version of SpecialAgent you encountered this issue? Reason I ask is because the patterns utilizing `WrapperProxy` have only been available since v1.5.6, and revised in v1.5.7 (which was just released yesterday).

[2020-02-03 09:39] safris commented on #381
Hi @hanwavefront, after reviewing the implementation of [`ThreadMutexAgent`](https://github.com/opentracing-contrib/java-specialagent/blob/3e2636a28e232481bd7e0b0ed47c2ec2fa678672/opentracing-specialagent/src/main/java/io/opentracing/contrib/specialagent/ThreadMutexAgent.java#L51-L67), it seems to be correct to me. In `ThreadMutexAgent`, `thiz` refers to the new thread that is being started, and `

[2020-02-03 12:26] safris commented on #381
@hanwavefront, I had to disable the `OnConstructor` facet of `ThreadMutexAgent`. It seems the `Thread::new` rule is intercepting threads that shouldn't be intercepted. I believe we'll need something akin:
[code]

[2020-02-03 16:15] randallt opened #394 "support for Jetty 9.4?"
You seem to support Spring 5, but not Jetty 9.4. From what I can tell, Spring 5 requires Jetty 9.4. Can you clarify?

[2020-02-03 19:48] hanwavefront commented on #381
Hi @safris, with the latest updates I'm seeing intercepts of the constructor as expected but I'm still not seeing the thread being excluded:

[code]

[2020-02-03 21:35] randallt opened #395 "memory leak in servlet rule with Jetty 9.4 and Spring 5"
In my custom build for the specialagent, I have code level 1.5.7 of the servlet rule. I am targeting a runtime of Jetty 9.4.22, which runs a webapp with Spring 5.1.9 JARs in it. However, I don't have any spring* rules enabled.

I am seeing a memory leak in ServletFilterAgentIntercept.servletRequestToState.

Does the servlet rule depend on any other rules to clean up this map?

What can I provide t

[2020-02-04 02:13] hanwavefront commented on #381
I think these threads have already been created and started by the time instrumentation begins.  I logged the thread ids from `ThreadMutexAgent` locally and saw that the intercepted thread ids start in the 20s and go up from there, but the `wavefrontDirectSender-0` thread that never gets intercepted has an id of 13.

I don't know if there's a way to ensure that instrumentation starts before these

[2020-02-04 05:17] safris commented on #381
Hi @hanwavefront, this is a good observation. However, your suggestion will not work:

Each thread's stack trace starts with `Thread.run()`, and the question we want to answer is: "was the execution stack _that led_ to `Thread.start()` stemmed from the tracer's class loader?" When `AgentRule::isEnabled` is called, we only have visibility into the current thread -- i.e. only the current thread's ex

[2020-02-04 13:13] ehmke commented on #377
Hey @safris, I now run into some more trouble which only came obvious when I tried to look into the reported spans: turns out, and that is why I am posting it here, one of our service doesn't seem to report any spans when started deferred.
I didn't find out, what exactly is different to non-deferred mode. Anyways, it starts to initialize all the rules after the service came up and so on. It is not

[2020-02-04 14:34] randallt commented on #395
I actually found that this memory leak also exists using Jetty 9.2 and Spring 4. I will try to debug further today.

[2020-02-04 17:38] randallt commented on #395
Also, ServletFilterAgentIntercept.servletRequestToState probably needs to be a ConcurrentHashMap as I saw evidence of multiple threads stomping on it (got a size of -1).

[2020-02-04 18:53] randallt commented on #395
I added some debug statements anywhere that servletRequestToState map is accessed. It looks like the problem is that we get wrappers around the request that are getting added and not removed. Also, looks like we have multiple maps in different classloaders.

Output from a single request:
[code]

[2020-02-04 19:02] randallt commented on #395
In TracingFilter, if I change this:

[code]
to
[code]
then it looks like the memory leak is gone. But even so, this seems like a lot of interception going on for a single request that might have non-negligible performance overhead.

[2020-02-04 19:57] hanwavefront commented on #381
I agree, I can't think of a situation where a child thread of the tracer would be used by a thread that is qualified for instrumentation.

[2020-02-05 00:06] hanwavefront commented on #381
Which is why I am thinking that if there is an additional check for the current thread in `AgentRule::isEnabled`, checking whether its execution stack stemmed from tracer's class loader, it would be able to filter out threads that were started by the tracer before `ThreadMutexAgent` was loaded.  If we do this, we'd be able to remove `ThreadMutexAgent` since it would be redundant. My thinking is th

[2020-02-05 00:16] safris commented on #381
@hanwavefront, if do:

[code]

You will get:

[code]

As you can see, the call stack for thread "bar" starts at `Thread.run()`, but what we need to know is the call stack that led to `Thread.start()`, which happens in `Foo.main()`.

[2020-02-05 00:56] safris commented on #381
@hanwavefront, I reimplemented the the approach with a novel solution that uses `InheritableThreadLocal` and does not require instrumentation. For this approach to work, it is necessary to load the `AgentRule` class before any threads are started from the "main" thread. For this, I created `AgentRule.loadThreadInstrumentable()`, which is called before `SpecialAgent.loadTracer()`. I also implemente

[2020-02-05 01:42] hanwavefront commented on #381
Thanks @safris!  Trying it out and seeing NPEs in `AgentRule::isEnabled`:

[code]

[2020-02-05 15:31] randallt commented on #341
Sorry, my comment was confusing. Disregard. I was using a previous version of the agent before the WrapperProxy was used. Testing with version 1.5.7 fixes the issue.

[2020-02-05 19:16] safris opened #397 "Cleanup and refactor patterns"

[2020-02-06 06:54] safris commented on #395
Hi @randallt, thanks for posting this issue. Here are my immediate answers to your questions:

The value in the `servletRequestToState` map for the request is removed in [ServletAgentIntercept. serviceEnter()](https://github.com/opentracing-contrib/java-specialagent/blob/081e16b6f5fe07e84be7af567ed09bf9ea1a88f2/rule/servlet/src/main/java/io/opentracing/contrib/specialagent/rule/servlet/ServletAgen

[2020-02-06 12:41] moertel opened #400 "Status of java-web-servlet-filter"
I noticed that java-web-servlet-filter apparently isn't taken from its [repo](https://github.com/opentracing-contrib/java-web-servlet-filter) as-is but there's some code been copied over (?) to https://github.com/opentracing-contrib/java-specialagent/tree/master/rule/servlet/src/main/java/io/opentracing/contrib/web/servlet/filter

As there's been some bugfix activity today and a new version [0.4.1

[2020-02-06 15:21] zeitlinger opened #401 "How should "http.header." be used"
In my fork of specialagent I created the attached patch to add an `http.header.x-uid` .
It works - but is only works with a fork.

If this is considered a useful feature, I'd create a PR.

[code]

[2020-02-06 22:51] safris commented on #381
Hi @hanwavefront, I've fixed the NPEs, which were causing the integration tests to fail. The [latest build](https://travis-ci.org/opentracing-contrib/java-specialagent/builds/647043708) has succeeded.

[2020-02-06 23:08] safris commented on #394
Hi @randallt, [here](https://github.com/opentracing-contrib/java-specialagent/tree/master/test/servlet-jetty) are the versions of Jetty we support:

[2020-02-06 23:11] safris commented on #393
Hi @malafeev, this is happening intermittently. I've disabled Static Deferred Attach, and the tests are now passing consistently. Seems that Static Deferred Attach leads to some kind of race condition.

[2020-02-06 23:16] safris commented on #400
Hi @moertel, thank you for notifying us about this bug fix. You are correct, SpecialAgent has a custom version of `java-web-servlet-filter`. This was necessary because `java-web-servlet-filter` only supports Servlet API 3+ (does not support Servlet API 2.3 or 2.5). I had wanted to submit a PR to supplement `java-web-servlet-filter` with the added support of Servlet API 2.3 and 2.5, but the code to

[2020-02-06 23:31] safris commented on #401
Hi @zeitlinger, this is a good idea, and think it would be a good extension to the `servlet` filter. If you wouldn't mind, please create a simple README.md with a short blurb about this tag (something akin [this](https://github.com/opentracing-contrib/java-specialagent/tree/master/rule/dynamic/)). I realize this header tag is not a configurable option, but a mention of it in the README.md would be

[2020-02-07 07:32] hanwavefront commented on #381
Hi @safris.  I do see `isThreadInstrumentable` warnings for `process reaper` and for `Keep-Alive-Timer` (which is created by `KeepAliveCache` because of the tracer using HTTP keep-alive).  Nevertheless, the agent is no longer instrumenting `wavefrontDirectSender-0` and `jaeger.RemoteReporter-QueueProcessor`, and everything in my test app is working and getting instrumented as I would expect.  Than

[2020-02-08 02:52] safris commented on #381
Hi @hanwavefront, this is very good news to hear! Thanks for posting this issue, cause it presented a real and present problem that needed to be fixed. Closing this issue.

[2020-02-08 02:52] #381 closed

[2020-02-08 02:53] #397 closed

[2020-02-10 03:59] malafeev commented on #259
done

@devinbost
When I run broker with special agent I disabled all plugins except pulsar:
[code]

And I see trace from client to function (client app also runs with special agent).

[2020-02-10 03:59] #259 closed

[2020-02-10 04:00] malafeev opened #403 "Add integration tests for Apache Pulsar Functions"

[2020-02-10 15:15] #401 closed

[2020-02-11 20:56] safris opened #404 "`CoreTest` in mule plugin is noop"
The [CoreTest](https://github.com/opentracing-contrib/java-specialagent/blob/master/rule/mule-4-core/src/test/java/io/opentracing/contrib/specialagent/rule/mule4/CoreTest.java) needs to be retrofitted to perform assertions of proper operation.

[2020-02-11 20:57] safris opened #405 "Mule integration does not work with jdk11"

[2020-02-11 21:00] safris opened #406 "Integration test for Mule does not work with all rules enabled"
The integration test needs to work with [these properties](https://github.com/opentracing-contrib/java-specialagent/blob/master/test/mule/mule-4.2.2/pom.xml#L37) removed.

[2020-02-11 21:05] jam01 commented on #406
So the issue is between regular grizzly-http-server and mule-4-http-server rules. The grizzly setup that the http-service uses is not supported out of the box by the regular grizzly rule so that one has to be disabled. All other plugins are disabled because they slow down the tests significantly.

Also there are some rules that should probably always be disabled with Mule 4 such as java-concurrent

[2020-02-11 21:08] jam01 commented on #405
So this works locally for me and also worked on Github's CI. So it seems to be something related to Travis' JDK version.

[2020-02-12 04:18] safris commented on #400
Hi @moertel, this has been done.

[2020-02-12 04:18] #400 closed

[2020-02-12 04:26] safris commented on #395
Hi @randallt, I have made `ServletFilterAgentIntercept.servletRequestToState` a `WeakHashMap`. Unfortunately, after reviewing the code, it seems there really is no easier or better way to retain the full breadth of supported APIs with any other approach. It's a mess, bus that's because the versions of the Servlet API are a mess.

Regarding:

I have reviewed this as well, and technically this is no

[2020-02-12 09:01] moertel commented on #400
Thanks a lot, @safris!

[2020-02-12 12:51] zeitlinger opened #407 "Rewritable Tracer"
I have a use case for blacklisting a tag (`db.statement` in `jedis`) and I'm wondering if this is useful enough to make this available generically:

`-Dsa.tagBlacklist=JedisAgentRule=db.statement,JedisAgentRule=db.type`

[2020-02-12 13:33] randallt commented on #395
What about the fact that I got synchronization issues on that map as well?

[2020-02-12 14:41] safris commented on #395
Hi @randallt, you are seeing synchronization issues? I'm surprised you say that, because the servlet container should be insulating from such issues, as the `ServletRequest` key is unique, and anything with regard to a single `ServletRequest` happens synchronously. How are you seeing these synchronization issues being expressed?

[2020-02-12 14:44] randallt commented on #395
I was tracking the size of that map and I saw cases where the size went negative. Some quick research showed that the only way for that to happen was unprotected access from multiple threads.

[2020-02-12 14:47] safris commented on #407
Hi @zeitlinger, this is an interesting proposition. We already have the ability to [disable individual instrumentation rules](https://github.com/opentracing-contrib/java-specialagent/#342-disabling-or-enabling-one-instrumentation-plugin), and to [disable individual individual `AgentRule` classes](https://github.com/opentracing-contrib/java-specialagent/#343-disabling-agentrules-of-an-instrumentati

[2020-02-12 14:54] safris commented on #395
Ah, yes, this definitely can happen, because the same map is being modified by multiple threads at the same time. This would result in the `size()` reporting incorrectly. However, (and please correct my thinking if I'm overseeing something) I believe that concurrent operations on the unsynchronized `WeakHashMap` will not result in adverse effects for the sake of the use-case in this situation. Thi

[2020-02-12 14:54] randallt commented on #395
It doesn't matter if all activity with a single key happens synchronously on the same thread--all activity that could potentially modify the map has to be synchronized (since any modification can cause a resizing/rehashing of the entire map).

[2020-02-12 14:56] safris commented on #395
That is true, especially for this case, because this map can potentially get very big. I will investigate the possibility of using an unsynchronized `ConcurrentHashMap`.

[2020-02-12 14:57] safris commented on #405
Do you wanna create a PR where you activate jdk11? We can work on it together.

[2020-02-12 14:58] zeitlinger commented on #407
this is a made up example for jedis

[code]

and then
[code]
The idea being that `Tracer` is a proxy and does all the blacklisting.

[2020-02-12 14:59] jam01 commented on #405
I'll open one, yeah

[2020-02-12 15:00] randallt commented on #395
It would still need to be Weak somehow, because even when I tried using ConcurrentHashMap I noticed the leak.

Aside, can you explain what negative effects I might see with the code I paste in the comment

https://github.com/opentracing-contrib/java-specialagent/issues/395#issuecomment-582064298

 (that you said short-circuits necessary logic)? I am not seeing negative effects as far as I can tell

[2020-02-12 15:00] safris commented on #406
We need to figure out an automatic rule exclusion mechanism -- one that will operate by detecting whether the runtime has Mule or Grizzly, and adjust the instrumentation appropriately. We do this for [Lettuce 5.1](https://github.com/opentracing-contrib/java-specialagent/blob/master/rule/lettuce-5.1/pom.xml#L26-L31) and [Lettuce 5.2](https://github.com/opentracing-contrib/java-specialagent/blob/mas

[2020-02-12 15:56] randallt commented on #395
I'm not sure you understood a key point in the description of this issue. The output I pasted was debugging code of the put, contains, and remove calls of a SINGLE request. You can see that there were 6 puts and only 2 removes (though I think one put was a duplicate key).

(removed the 'contains' lines)
[code]
This is the fundamental issue--the fact that they are spread across two classloaders is

[2020-02-12 23:07] safris commented on #395
Hi @randallt, I have successfully removed `ServletFilterAgentIntercept.servletRequestToState`.

[2020-02-12 23:12] safris commented on #407
This is a good approach. The SpecialAgent can provide this proxy `Tracer` to all rules. If you want to implement this for a single plugin, I can take your pattern and transition it to a higher layer in the SpecialAgent core.

[2020-02-13 13:49] arpit728 opened #409 "Not showing up data in lightstep"
Command I used to launch my application.

[code]

Sample app I created for demo can be found [here](https://github.com/arpit728/opentracing-demo).

Special agent version I used [opentracing-specialagent-1.5.7.jar](https://repository.sonatype.org/service/local/artifact/maven/content?r=central-proxy&g=io.opentracing.contrib.specialagent&a=opentracing-specialagent&v=LATEST)

ls_tracer.properties
[cod

[2020-02-13 23:40] safris opened #411 "Pulsar Functions integration test must not exclude rules"
Integration tests are intended to test integrated runtimes. [This line](https://github.com/opentracing-contrib/java-specialagent/blob/master/test/pulsar-functions/pom.xml#L33) should be removed.

[2020-02-14 01:07] #403 closed

[2020-02-14 04:20] safris commented on #409
Hi @arpit728, thank you for posting this issue, and apologies for the delay. You have stumbled on issue #382 regarding Static Deferred Attach not triggering correctly for Spring Boot applications. You have a couple of options to resolve this:
1. You can turn off Static Deferred Attach: `-Dsa.init.defer=false`. The drawback of this will be a lengthier startup time.
1. You can use [the development b

[2020-02-14 06:51] malafeev opened #413 "TestUtil: add method to check span count by component name"

[2020-02-14 10:21] zeitlinger commented on #407
@safris I did a [PoC](#415), which was already more complicated than I anticipated, because I made it more powerful.

Feedback on the feature set would be highly welcome :smile:

[2020-02-14 23:19] safris commented on #395
Hi @randallt, I am marking this issue as closed, since `ServletFilterAgentIntercept.servletRequestToState` has been removed altogether.

[2020-02-14 23:19] #395 closed

[2020-02-14 23:20] safris commented on #391
Marking this issue as closed in lieu of [this fix](https://github.com/opentracing-contrib/java-specialagent/commit/b70c9c4a9f9eb1a6dc6565ce6c5370b4f5b4e18d).

[2020-02-14 23:20] #391 closed

[2020-02-14 23:20] #411 closed

[2020-02-14 23:32] safris opened #416 "Release v1.5.8"
The v1.5.8 release includes the following updates:
* New instrumentation plugins: Mule 4 (#324), Pulsar Functions (#398)
* New integration tests: Pulsar Functions (#408 #411 #412)
* Mechanism to load customized span decorators externally (#410)
* Mechanism in `TestUtil` to check span count by component name (#413 #414)
* Rebase `servlet` rule with current implementation of `java-web-servlet-filter

[2020-02-14 23:32] #413 closed

[2020-02-15 05:28] malafeev opened #417 "Get rid of TestUtil deprecated methods and theirs usage"

[2020-02-15 15:50] #416 closed

[2020-02-15 21:25] safris opened #418 "Pulsar Functions integration test failing in Travis"

[2020-02-15 23:57] safris commented on #418
Hi @malafeev, can you take a look at this? The Pulsar Functions test has been failing due to a number of reasons. The latest error (for `2.4.2`) is:
[code]

[2020-02-17 06:42] malafeev opened #420 "Add README to pulsar-functions rule"

[2020-02-17 15:38] arpit728 opened #421 "Spring Boot Application taking too long to start | Spcial Agent | Lightstep Tracer"
I am using version ```1.5.6``` of special-agent.

The startup time of my spring boot application is around ```10 Sec.``` when I statically attach the agent  the startup time of the application goes up to ```3-5``` minutes. When attaching the agent dynamically, no data shows up.

**Command I used to launch the application**
[code]
**Command I used to launch the app with static attach**
[code]
**Com

[2020-02-17 18:48] safris commented on #421
Hi @arpit728, can you test with v1.5.8 and let me know the results?

[2020-02-18 11:12] arpit728 commented on #421
@safris Thanks, it's working.

[2020-02-18 15:18] safris commented on #421
Hi @arpit728, the prior versions had a number of outstanding issues regarding Static Deferred Attach. You can review the [release notes](https://github.com/opentracing-contrib/java-specialagent/releases) for details.

[2020-02-18 15:47] #420 closed

[2020-02-19 06:12] arpit728 commented on #421
@safris
Thanks for sharing.

[2020-02-19 08:16] #417 closed

[2020-02-19 14:05] malafeev commented on #377
**spring-webflux:**
method `org.springframework.web.server.handler.DefaultWebFilterChain.initChain(...)` is called for both cases: enabled and disabled static deferred attach.
- For disabled static deferred attach this method is intercepted by `io.opentracing.contrib.specialagent.rule.spring.webflux.filters.SpringWebFluxAgentIntercept.filters(...)`
- For enabled static deferred attach this method

[2020-02-19 14:45] safris opened #429 "Travis CI build is failing"
Travis CI has a tendency to fail due to concurrent builds, whereby the cache is corrupted by concurrent operations. To fix this, the root path of each build should be unique.

[2020-02-19 14:48] safris commented on #421
Hi @arpit728, I'll close this issue. If you experience any other problems, don't hesitate to open another issue.

[2020-02-19 14:48] #421 closed

[2020-02-20 06:35] arpit728 opened #430 "Using underlying Tracer with GRPC and protobuf"
I am using lightstep as the underlying tracer, lightstep supports  protocol buffers over GRPC,

I couldn't find a way to use lightstep with grpc, I think it's not configurable from special agent.

[2020-02-20 07:44] anhtuanluu36 opened #431 "Jaeger sees no traces from the demo project Microdonuts"
I following the instruction with special agent 1.5.8 but I do not see anything on Jaeger
https://github.com/opentracing-contrib/java-specialagent-demo

I saw the same issue on java-specialagent-demo but no one answer it.
https://github.com/opentracing-contrib/java-specialagent-demo/issues/11

Please support us.

[2020-02-20 12:55] malafeev commented on #431
I added comments to opentracing-contrib/java-specialagent-demo#11

[2020-02-20 14:16] anhtuanluu36 commented on #431
Thank you! I saw it.

[2020-02-20 14:16] #431 closed

[2020-02-21 05:02] malafeev opened #432 "Introduce LocalSpanContext to avoid duplicate code of Context"

[2020-02-21 05:34] malafeev opened #434 "Move duplicated onError(...) method to utility class"

[2020-02-24 13:23] malafeev commented on #430
grpc is not supported by https://github.com/lightstep/lightstep-tracer-java/tree/master/lightstep-tracer-jre-bundle

[2020-02-24 13:27] malafeev commented on #418
looks like can be closed now

[2020-02-24 15:56] arpit728 commented on #430
@malafeev It does support but not by default, you can add dependencies of `tracer-grpc` and it works.
To make it work with the specialagent, I added those dependencies and created jar of `lightstep-tracer-jre-bundle` post that I supplied path of that jar in `sa.tracer` parameter.

[2020-02-24 22:05] jlsalmon opened #437 "Question: How to add tags to all spans?"
Hello,

First of all, thanks for contributing this excellent library, and apologies if this question is better suited to a different forum - please feel free to redirect me if that is the case.

Context: I'm currently using the Jaeger tracing plugin, which uses the concept of a "Process" object to house tags that are common across all spans in a trace (e.g. `service_name`). However, I'm also using

[2020-02-25 00:25] william-tran opened #438 "What's the best way to test how SpecialAgent instruments my application?"
I have a Spring Boot application and can use either JUnit 4 or 5 for running `@SpringBootTest` integration tests. I'd like to write some tests that ensure trace propagation happens where it needs to, and to quickly show where it isn't working so I can add my own manual instrumentation, e.g. in batching and queuing scenarios. What's the best way to achieve this? I know I can add args to my surefire

[2020-02-25 02:31] malafeev commented on #430
If bundle contains `tracer-okhttp`  then tracer uses OkHttp, if bundle contains `tracer-grpc` then tracer uses gRPC.
because SpecialAgent cannot contain both choice is to use OkHttp (default).
for gRPC you need custom tracer as you built.
not sure that we can fix it somehow here.

[2020-02-25 03:23] safris commented on #437
Hi @jianshaow, thank you for your question. The short and most immediate answer is: no, there is no built-in mechanism for applying generic tags to all spans. SpecialAgent is merely an engine that automatically installs [Instrumentation Plugins](https://github.com/opentracing-contrib/java-specialagent/#61-instrumentation-plugins) into a runtime. But, like you already found by yourself, #415 is ind

[2020-02-25 03:28] safris commented on #430
@arpit728, the LightStep Tracer Plugin is decoupled from SpecialAgent, which means its internals are outside the scope of SpecialAgent. If you want the LightStep Tracer Plugin to support gRPC as the transport protocol via activation with a property, then such a request can only be fulfilled by the [LightStep Tracer Plugin project itself](https://github.com/lightstep/lightstep-tracer-java/tree/mast

[2020-02-25 05:34] zeitlinger commented on #437
Yes, great to have another use case before it's released. I'll have a look.

[2020-02-25 12:08] zeitlinger commented on #437
@safris @jlsalmon I gave it a try with #439 - and hope it makes some sense.

Have a look at the [README](https://github.com/opentracing-contrib/java-specialagent/blob/578846142ddf0c7e019607f3d6203586b2d5c5ea/opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/tracer/README.md#global-rules) to get an idea.

[2020-02-25 15:31] william-tran commented on #438
I'm leaning towards a programmatic self-attach mechanism, similar to https://www.elastic.co/guide/en/apm/agent/java/master/setup-attach-api.html. That would make it easy to write a JUnit Rule or Extension, or better yet integrated into the application in a single place with a Spring Boot lifecycle listener.

[2020-02-25 20:22] jlsalmon commented on #437
@safris @zeitlinger thanks for the super quick responses!

If I understand correctly, with #439 the following config should add the service name to all spans under the `service_name` key - is that right?

[code]

[2020-02-25 21:43] zeitlinger commented on #437
Correct 😀

[2020-02-25 22:45] jlsalmon commented on #437
Great, thanks @zeitlinger.  Looking forward to giving this a spin once it's all glued together!

[2020-02-25 23:44] william-tran opened #440 "Support target runtimes that import OpenTracing API"
I'm trying to dynamic attach to a spring boot app that uses some manual OpenTracing instrumentation, but unless this is done very early on, I get `java.lang.IncompatibleClassChangeError` or `java.lang.LinkageError`. Is this a known issue or by design?

e.g.
`
java.lang.LinkageError: loader constraint violation: when resolving method "io.opentracing.tag.BooleanTag.set(Lio/opentracing/Span;Ljava/lan

[2020-02-26 04:23] safris commented on #438
Hi @william-tran, thank you for your question. What you are trying to do is very similar to the mechanism by which we implement Instrumentation Rules. The [`AgentRunner`](https://github.com/opentracing-contrib/java-specialagent/tree/master/opentracing-specialagent-api) was designed specifically to do what you are looking for, and it uses self-attach to achieve instrumentation of the host VM. There

[2020-02-26 04:25] safris commented on #440
Hi @william-tran, are you trying to do a dynamic attach to a runtime that imports the OpenTracing API?

[2020-02-26 04:36] #432 closed

[2020-02-26 16:05] william-tran commented on #440
@safris yes; OpenTracing 0.33.0 is on the `<compile>` classpath

[2020-02-26 19:01] safris commented on #440
Hi @william-tran, the reason you're receiving a `LinkageError` is because SpecialAgent provides the OpenTracing API by itself. Your use-case is outside of SpecialAgent's original scope -- i.e. a situation where you intend to automatically instrument a runtime that is already manually instrumented. Therefore, the only thing I can provide you with immediately is a workaround that will allow you to g

[2020-02-26 22:39] william-tran commented on #440
Ok thanks for confirming this; its unfortunate as I was looking for a programmatic and portable way to ensure agent attachment at runtime and test. Mixing manual and auto-instrumentation is something that's necessary in many cases I've found.  I put together a test app to try the various cases: https://github.com/william-tran/specialagent-spring-boot. It's not a total dealbreaker though;  I can re